<header class="header">
  <div class="header-block header-block-nav">
    <ul class="nav-profile">
      <li>
        {{#link-to 'home' }}
        <i class="fa fa-home fa-lg"></i>
        <span>Home</span>
        {{/link-to}}
      </li>
      {{notification-bell}}
      {{profile-dropdown}}
    </ul>
  </div>
</header>
