<div class="item-actions-dropdown">
  <button class="btn btn-primary btn-sm rounded-s play" href="#" >
    <i class="fa fa-play"></i>
  </button>
  <button class="btn btn-primary btn-sm rounded-s pause" href="#" >
    <i class="fa fa-pause"></i>
  </button>
  <button class="btn btn-primary btn-sm rounded-s stop" href="#" >
    <i class="fa fa-stop"></i>
  </button>
</div>
