{{#each cards as |card|}}
  {{#if card.title}}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
    {{component (concat 'cards/card-' card.category)
      card=card
      workflows=workflows
      jobs=jobs
    }}
  </div>
  {{/if}}
{{/each}}
