<select class="form-control" onchange={{action 'valueUpdated' value='target.value'}}>
  <option></option>
  {{#each parsedValues as |option|}}
    <option selected={{eq value option.key}} value={{option.key}}>{{option.value}}</option>
  {{/each}}
</select>
