<section id="service-block-main" class="section" style="background-color: #F6F6F6;">
  <!-- Container Starts -->
  <div class="container">
    <div class="row">
      <h1 class="section-title wow fadeIn animated" data-wow-delay=".2s">
        Our Policy:
      </h1>
      <p class="section-subcontent">Our policy goes here</p>
      <div class="col-sm-6 col-md-3">
        <!-- Service-Block-1 Item Starts -->
        <div class="service-item wow fadeInUpQuick animated" data-wow-delay=".5s">
          <div class="icon-wrapper">
            <i class="icon-layers pulse-shrink">
            </i>
          </div>
          <h2>
            40+ Pages
          </h2>
          <p>
          Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
          </p>
        </div>
        <!-- Service-Block-1 Item Ends -->
      </div>

      <div class="col-sm-6 col-md-3">
        <!-- Service-Block-1 Item Starts -->
        <div class="service-item wow fadeInUpQuick animated" data-wow-delay=".8s">
          <div class="icon-wrapper">
            <i class="icon-settings pulse-shrink">
            </i>
          </div>
          <h2>
            Bootstrap4 and HTML5
          </h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat Quidem!
          </p>
        </div>
        <!-- Service-Block-1 Item Ends -->
      </div>

      <div class="col-sm-6 col-md-3">
        <!-- Service-Block-1 Item Starts -->
        <div class="service-item wow fadeInUpQuick animated" data-wow-delay="1.1s">
          <div class="icon-wrapper">
            <i class="icon-energy pulse-shrink">
            </i>
          </div>
          <h2>
            Refreshing Design
          </h2>
          <p>
          Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
          </p>
        </div>
        <!-- Service-Block-1 Item Ends -->
      </div>

      <div class="col-sm-6 col-md-3">
        <!-- Service-Block-1 Item Starts -->
        <div class="service-item  wow fadeInUpQuick animated" data-wow-delay="1.4s">
          <div class="icon-wrapper">
            <i class="icon-cup pulse-shrink">
            </i>
          </div>
          <h2>
            Crafted Carefully
          </h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat Quidem!
          </p>
        </div>
      </div><!-- Service-Block-1 Item Ends -->
    </div>
  </div><!-- Container Ends -->
</section><!-- Service Main Section Ends -->
