<section id="header">
	<nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
		<div class="container">
			<button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>

			</button>
			<a class="navbar-brand">
				{{#link-to 'landing-page'}}<img src="assets/images/logo2.png" alt="" height = 40px;>{{/link-to}}
				</a>
				<div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
					<ul class="nav nav-inline">
						<li class="nav-item dropdown">
							{{#link-to 'landing-page' class="page-scroll nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"}}Home{{/link-to}}
							</li>
							<li class="nav-item dropdown">
								<a class="page-scroll nav-link dropdown-toggle" href="#about-us">About Us</a>
							</li>
							<li class="nav-item dropdown">
								<a class="page-scroll nav-link dropdown-toggle" href="#our-services">Services</a>
							</li>
							<li class="nav-item dropdown">
								<a class="page-scroll nav-link dropdown-toggle" href="#meet-us">Meet Us</a>
							</li>
							<li class="nav-item dropdown">
								<a class="page-scroll nav-link dropdown-toggle" href="#footer">Contact Us</a>
							</li>
					</ul>
				</div>
		</div>
	</nav>
</section>
