<a id="footer"></a>
<footer>
  <div class="container">
    <div class="row section">
      <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
        <h3 class="small-title">
          ABOUT US
        </h3>
        <p>
        Etiam ornare condimentum massa et scelerisque. Mauris nibh ipsum, laoreet at venenatis ac, rutrum sed risus,
        </p>
        <p>Aliquam magna nibh, mattis a urna nec. Semper venenatis magna.</p>
        <div class="social-footer">
          <a href="#"><i class="fa fa-facebook icon-round"></i></a>
          <a href="#"><i class="fa fa-twitter icon-round"></i></a>
          <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
          <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
        </div>
      </div>

      <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
        <h3 class="small-title">
          TWITTER
        </h3>
        <ul class="recent-tweets">
          <li class="tweet">
            My <a href="#">@Quora</a>
            <span class="tweet-text">
              answer to What's the best FAQ plugin for WordPress?
            </span>
            <a href="#">qr.ae/RFTbIGa</a>
            <span class="tweet-date">
              August 21, 2015 10:29pm
            </span>
          </li>


          <li class="tweet">
            WPB Advanced FAQ | Probably The Best WordPress FAQ Plugin <a href="#">wpbean.com/wpb-advanced-faq-pr…</a>
            <span class="tweet-text">
              via
            </span>
            <a href="#">@wpbean</a>
            <span class="tweet-date">
              August 19, 2015 8:49 am
            </span>
          </li>


        </ul>
      </div>

      <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
        <h3 class="small-title">
          CONTACT US
        </h3>
        <div class="contact-us">
          <p>Tellus aliquam at. Pellentesque gravida vel eros et pretium</p>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-common">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p class="copyright-text">
          ©  2016 Engage. All right reserved. Designed with by <a href="#">GrayGrids</a>
          </p>
        </div>
        <div class="col-md-6  col-sm-6">
          <ul class="nav nav-inline pull-xs-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sitemap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms of services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
