<section id="featured" class="section" style="background-color: #F6F6F6;">
  <!-- Container Starts -->
  <div class="container">
    <div class="row">
      <h1 class="section-title wow fadeInUpQuick">
        CORE FEATURES
      </h1>
      <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
      <!-- Start Service Icon 1 -->
      <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="01">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="icon-present">
            </i>
          </div>
          <div class="featured-content">
            <h4>
              Multiple operations
            </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <!-- End featured Icon 1 -->
      <!-- Start featured Icon 1 -->
      <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="01">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="icon-rocket">
            </i>
          </div>
          <div class="featured-content">
            <h4>
              Parallel mode
            </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <!-- End featured Icon 1 -->
      <!-- Start featured Icon 1 -->
      <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="01">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="icon-pencil">
            </i>
          </div>
          <div class="featured-content">
            <h4>
              24/7 Support
            </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <!-- End featured Icon 1 -->
      <!-- Start featured Icon 1 -->
      <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="01">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="icon-diamond icon-large icon-effect">
            </i>
          </div>
          <div class="featured-content">
            <h4>
              Great Ideas
            </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <!-- End featured Icon 1 -->
      <!-- Start featured Icon 1 -->
      <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="01">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="icon-settings">
            </i>
          </div>
          <div class="featured-content">
            <h4>
              Perfect Coding
            </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <!-- End featured Icon 1 -->
      <!-- Start featured Icon 1 -->
      <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="01">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="icon-star">
            </i>
          </div>
          <div class="featured-content">
            <h4>
              Unique Design
            </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <!-- End featured Icon 1 -->
    </div>
  </div>
  <!-- Container Ends -->
</section>
