<a id="our-services"></a>
<section id="other-services" class="section" style="background-color: #F6F6F6;">
  <div class="container">
    <div class="row">
      <h1 class="section-title wow fadeInUpQuick">
        OUR SERVICES
      </h1>
      <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
      <div class="col-sm-6 col-md-6">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home"><i class="icon-screen-desktop"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"><i class="icon-settings"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages"><i class="icon-heart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"><i class="icon-layers"></i></a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel">
            <div class="service-content wow fadeInUpQuick">
              <h3>Responsive Design</h3>
              <p class="lead">At vero eos et accusamus et <a href="#">iusto</a> odio digniss- <br> imos <b>ducimus</b> qui blanditiis praesentium voluptatum deleniti</p>
              <p>quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
            </div>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel">
            <div class="service-content wow fadeInUpQuick">
              <h3>Very useful custom widget </h3>
              <p class="lead">At vero eos et accusamus et <a href="#">iusto</a> odio digniss- <br> imos <b>ducimus</b> qui blanditiis praesentium voluptatum deleniti</p>
              <p>quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
            </div>
          </div>
          <div class="tab-pane" id="messages" role="tabpanel">
            <div class="service-content fadeInUpQuick">
              <h3>Graphic Design</h3>
              <p class="lead">At vero eos et accusamus et <a href="#">iusto</a> odio digniss- <br> imos <b>ducimus</b> qui blanditiis praesentium voluptatum deleniti</p>
              <p>quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
            </div>
          </div>
          <div class="tab-pane" id="settings" role="tabpanel">
            <div class="service-content fadeInUpQuick">
              <h3>Parallax Background</h3>
              <p class="lead">At vero eos et accusamus et <a href="#">iusto</a> odio digniss- <br> imos <b>ducimus</b> qui blanditiis praesentium voluptatum deleniti</p>
              <p>quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 com-md-6">
        <div class="skill-shortcode">
          <div class="skill">
            <p>
            Web Design 91%
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar"  data-percentage="91">
                <span class="sr-only">
                  91% Complete
                </span>
              </div>
            </div>
          </div>
          <div class="skill">
            <p>
            HTML/CSS 86%
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar"  data-percentage="86">
                <span class="sr-only">
                  86% Complete
                </span>
              </div>
            </div>
          </div>
          <div class="skill">
            <p>
            Graphic Design 78%
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar"  data-percentage="78">
                <span class="sr-only">
                  60% Complete
                </span>
              </div>
            </div>
          </div>
          <div class="skill">
            <p>
            WordPress 65%
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar"  data-percentage="65">
                <span class="sr-only">
                  60% Complete
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
