<section class="split section">
  <!-- Container Starts -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="images">
          <img src="assets/img/about/plain-why-choose-us-2.png" alt="">
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="content-inner">
          <h2 class="title">INFOS</h2>
          <p class="lead">We Crafted an awesome design library that is robust and intuitive to use. No matter you're building a business presentation websit or a complex web application our design blocks can easily be adapted for your needs.</p>
          <div class="details-list">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h3>Minimal Coding</h3>
                <p>The design blocks come with ready to use HTML colde which makes the design kit suitable for developers and designers of all skill levels.</p>
              </div>
              <div class="col-sm-6 col-xs-12">
                <h3>Responsive</h3>
                <p>Your website will look good on any device. Each design block has been individually tested on desktop. tablets and smartphones.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
