<a id="meet-us"></a>
<section id="team" class="section">
  <div class="container">
    <div class="row">
      <h1 class="section-title wow fadeInDown" data-wow-delay=".5s">
        MEET OUR TEAM
      </h1>
      <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
      <div class="col-sm-6 col-md-3">
        <div class="team-item wow fadeInUpQuick" data-wow-delay="1s">
          <figure class="team-profile">
            <img src="assets/img/team/team-01.jpg" alt="">
            <figcaption class="our-team">
              <div class="details">
                <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="orange-line"></div>
                <div class="social">
                  <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                  <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                  <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </figcaption>
          </figure>
          <div class="info">
            <h2>
              Sara smith
            </h2>
            <div class="orange-line"></div>
            <p>
            Founder And ceo
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="team-item wow fadeInUpQuick" data-wow-delay="1.4s">
          <figure class="team-profile">
            <img src="assets/img/team/team-02.jpg" alt="">
            <figcaption class="our-team">
              <div class="details">
                <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="orange-line"></div>
                <div class="social">
                  <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                  <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                  <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </figcaption>
          </figure>
          <div class="info">
            <h2>
              Sommer Christian
            </h2>
            <div class="orange-line"></div>
            <p>
            creative studio head
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="team-item wow fadeInUpQuick" data-wow-delay="1.8s">
          <figure class="team-profile">
            <img src="assets/img/team/team-03.jpg" alt="">
            <figcaption class="our-team">
              <div class="details">
                <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="orange-line"></div>
                <div class="social">
                  <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                  <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                  <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </figcaption>
          </figure>
          <div class="info">
            <h2>
              Jane lupkin
            </h2>
            <div class="orange-line"></div>
            <p>
            magento developer
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="team-item wow fadeInUpQuick" data-wow-delay="2.2s">
          <figure class="team-profile">
            <img src="assets/img/team/team-04.jpg" alt="">
            <figcaption class="our-team">
              <div class="details">
                <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="orange-line"></div>
                <div class="social">
                  <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                  <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                  <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </figcaption>
          </figure>
          <div class="info">
            <h2>
              Sebastian roll
            </h2>
            <div class="orange-line"></div>
            <p>
            Logo / branding designer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
