<form id="login-form" {{action 'authenticate' on='submit'}}>
  <div class="form-group">
    <label for="email">Email</label>
    {{input type='email' class='form-control underlined' name='email' id='email' placeholder="Your email address" value=email}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input type='password' class='form-control underlined' name='password' id='password' placeholder='Your password' value=password}}
  </div>
  <div class="form-group">
    <!-- TODO -->
    <label for="remember">
      <input class="checkbox" id="remember" type="checkbox">
      <span>Remember me</span>
    </label>
    <a class="forgot-btn pull-right" >{{#link-to "password-recovery"}} Forgot password? {{/link-to}}</a>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary">Login</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">Do not have an account?
    <a>{{#link-to "signup"}}Sign Up!{{/link-to}}</a>
    </p>
  </div>
</form>

