<div class="logotype" id="lemonade-logo">
  <img class="logo" src="/assets/images/minilogo.png" />
  <span>Lemonade</span>
</div>
<ul class='sidebar-nav' id='main-sidebar'>
  <li></li>
  <li>
    {{#link-to 'home' class=activeHome}}
      <i class="fa fa-home" ></i>
      <span>Home</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'workflows' class=activeWorkflows}}
      <i class="fa fa-flask"></i>
      <span>Workflows</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'jobs' class=activeJobs}}
      <i class="fa fa-tasks" ></i>
      <span>Jobs</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'datasources' class=activeDatasources}}
      <i class="fa fa-database" ></i>
      <span>Datasources</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'dashboards' class=activeDashboards}}
      <i class="fa fa-eye" ></i>
      <span>Dashboards</span>
    {{/link-to}}
  </li>
</ul>
