{{#each-in operations as |category operations|}}
  <li>
    <a href="#">
      <i class="fa fa-th-large"></i>{{category}}
    </a>
    <ul>
      {{#each operations as |operation|}}
        {{operation-element operation=operation}}
      {{/each}}
    </ul>
  </li>
{{/each-in}}
