<li class="item">
	<div class="item-row">
		<div class="item-col fixed item-col-check">
			<label class="item-check" id="select-all-items">
				<input type="checkbox" class="checkbox">
				<span></span>
			</label>
 </div>
			<div class="item-col fixed item-col-img md">
				<a href="item-editor.html">
					<div class="item-img rounded" style="background-image: url(http://www.clker.com/cliparts/3/a/e/b/1346440375869169067LemonandLime.svg.med.png)"></div>
				</a>
			</div>
			<div class="item-col item-col-stats no-overflow">
          <div class="item-heading">ID</div>
					<div class="no-overflow"> <a href="">{{id}}</a> </div>
        </div>

			<div class="item-col fixed pull-left item-col-title">
				<div class="item-heading">Name</div>
				<div>
					<a href="item-editor.html" class="">
						<h4 class="item-title">
							{{name}}
						</h4> </a>
				</div>
			</div>

			<div class="item-col item-col-stats no-overflow">
				<div class="item-heading">Stats</div>
				<div class="no-overflow">
					<div class="item-stats sparkline" data-type="bar"><canvas width="84" height="23" style="display: inline-block; width: 84px; height: 23px; vertical-align: top;"></canvas></div>
				</div>
			</div>
			<div class="item-col item-col-category no-overflow">
				<div class="item-heading">Category</div>
				<div class="no-overflow"> <a href="">Software</a> </div>
			</div>
			<div class="item-col item-col-author">
				<div class="item-heading">Author</div>
        <div class="no-overflow"> <a href="">{{author}}</a> </div>
			</div>
			<div class="item-col item-col-date">
				<div class="item-heading">Created</div>
				<div class="no-overflow"> {{updated}} </div>
			</div>
			<div class="item-col fixed item-col-actions-dropdown">
				<div class="item-actions-dropdown">
					<a class="item-actions-toggle-btn"> <span class="inactive">
							<a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal"> <i class="fa fa-trash-o "></i> </a>
							<a class="edit" href="item-editor.html"> <i class="fa fa-pencil"></i> </a>
						</span>
					</a>
				</div>
			</div>
	</div>
</li>
