<!-- Rounded switch -->
<div class="toggle-wrapper">
  <span class="toggle-left"> {{ textLeft }}</span>

  <div class="toggle-button">
    <label class="toggle-switch">
      <input id="toggle" type="checkbox" onclick={{action 'toggle'}}>
      <span class={{concat "toggle-slider " shape}}></span>
    </label>
  </div>

  <span class="toggle-right"> {{ textRight }}</span>
</div>
