<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <img src="/assets/images/minilogo.png" width=40 />
        Lemonade
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        {{operations-list operations=operations}}
      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
