<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <img src="/assets/images/minilogo.png" width=40 />
        Lemonade
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        <li>
          <a href="">
            <i class="fa fa-th-large"></i>Operations<i class="fa arrow"></i>
          </a>
          {{operations-list operations=operations}}
        </li>
      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
