<button {{action "onDestroy"}} type="button" class="close" data-dismiss="alert" aria-label="Close">
  <small><span class="fa  fa-trash-o"></span></small>
</button>
<p>{{task.operation.name}}</p>
<span>FIXME: task comment </span>