<input type="range" onchange={{action 'updateValue' value='target.value'}} class="form-control" value={{value}} min="1" max="99"/>
<span class="tag tag-pill tag-info">{{value}}% - {{deltaValue}}%</span>
