<select onchange={{action 'valueChanged'}} multiple="true" class="form-control" style="width: 100%">
  <option></option>
  {{#each parsedValues as |val|}}
    <option selected={{val.selected}} value={{val.val}}>{{val.val}}</option>
  {{/each}}
</select>
