<div class='log'>
  <i class="fa fa-list-ul"></i><span>Job's Log</span>
</div>
<ul class="tasks-list metismenu" id="tasks-list">
  {{#each stepsLogs as |step|}}
    <li class="step-log">
      <a href="#">
        <i class="fa fa-lg {{step.operation.icon}}"></i>
        <span>{{step.operation.name}}</span>
      </a>
      <ul>
        {{#each step.logs as |log|}}
          {{jobs/job-logger-content log=log}}
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
