<div class="lemonade-container" id="lemonade-container">
  {{jobs/job-draw id="lemonade-diagram" class="lemonade col-xs-12" workflow=workflow steps=steps job=job operations=operations stepsLogs=stepsLogs}}
</div>
{{jobs/job-logger id="job-logger" job=job stepsLogs=stepsLogs operations=operations}}
