<div class="lemonade-container" id="lemonade-container">
  {{jobs/job-draw id="lemonade-diagram" class="lemonade col-xs-12" workflow=workflow jobId=jobId jobStatus=jobStatus steps=steps job=job operations=operations logTasks=logTasks}}
</div>
