<div class="item-row">
  <div class="item-col fixed item-col-check">
    <label class="item-check" id="select-all-items">
      <input type="checkbox" class="checkbox">
      <span></span>
    </label>
  </div>
  <div class="item-col item-col-header fixed item-col-img md">
    <div>
      <span>Stats</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-id">
    <div>
      <span>ID</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-title">
    <div>
      <span>Job</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-title">
    <div>
      <span>Workflow</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-stats">
    <div class="no-overflow">
      <span>Status</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-author">
    <div class="no-overflow">
      <span>Visualize</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-category">
    <div>
      <span>Options</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-date">
    <div class="no-overflow">
      <span>Started</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-date">
    <div class="no-overflow">
      <span>Finished</span>
    </div>
  </div>
</div>
