.__worflows__index {
  padding: 30px 0;
  .menu {
    .centered {
      align-items: center;
      .search-block {
        .btn-secundary {
          background-color: $input-bg;
          border: $input-border-width solid $input-border-color;
          border-left: none;
          border-radius: 0 $btn-border-radius $btn-border-radius 0;
          color: $color-darker;
          height: 34px;
        }
      }
    }
  }
  .btn-circle {
    margin: 15px;
    text-align: center;
    width: 55.5px;
    border-radius: 25px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.4);
    background-color: $color-lighter;
    position: absolute;
    right: 0;
    bottom: 0;

    i {
      color: $color-darker;
      font-size: 2em;
    }
  }
}
