.task {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 220px;
  height: 50px;
  position: absolute;
  background: #DDD;
}

.task p {
  margin-bottom: 0;
}

#diagram {
  background: #d7dde4;
  height: 70vh;
}

#forms {
  background: white;
  height: 70vh;
}

#diagram .ui-selected {
  background: #F39814;
  color: white;
}

.color-item {
  float: left;
  height: 20px;
  margin-right: 1px;
  width: 20px;
  border: 1px solid #CCC;
}

.color_item .active {
  border-color: #555;
}
