@import "ember-bootstrap/bootstrap";
@import "font-awesome";



// Gfranciscani Styles

// Variables
@import 'variables.scss';
@import "theme-color.scss";
@import "dimensions.scss";

// Ui elements
@import 'ui/ui.loader.scss';
@import 'ui/ui.bootstrap-slider.scss';
@import 'ui/ui.mouse-pointers.scss';
@import 'ui/ui.tooltipster.scss';

// Visualizations
@import 'visualizations/main.scss';
@import 'visualizations/bar-chart/main.scss';
@import 'visualizations/line-chart/main.scss';
@import 'visualizations/correlation-matrix/main.scss';
@import 'visualizations/sentiment-analysis/main.scss';
@import 'visualizations/graph-canvas/main.scss';
@import 'visualizations/topicos-vis/main.scss';
@import 'visualizations/wordtree-diagram/main.scss';
@import 'visualizations/search-tool/main.scss';
@import 'visualizations/table/main.scss';

// Visualizations Cards
@import 'visualizations/vis-cards-container/main.scss';
@import 'visualizations/vis-card/main.scss';

// Gfranciscani Styles

//Global
@import 'main-sidebar.scss';
@import 'main-wrapper.scss';
@import 'main-content-wrapper.scss';
@import 'page-content-wrapper.scss';
@import 'table-paginate.scss';
@import 'form.scss';
@import 'perfect-scrollbar.scss';
@import 'not-found.scss';

//Animations
@import 'animations.scss';

//Workflows
@import 'workflows/top-menu.scss';
@import 'workflows/large-table.scss';
@import 'workflows/operations-sidebar.scss';
@import 'workflows/diagram-container-wrapper.scss';
@import 'workflows/option-bar.scss';
@import 'workflows/draw.scss';

//Jobs
@import 'jobs/large-table.scss';
@import 'jobs/job-diagram-container-wrapper.scss';
@import 'jobs/option-bar.scss';
@import 'jobs/logger.scss';

//Datasources
@import 'datasources/large-table.scss';
@import 'datasources/datasource-share-table.scss';



@import "auth.scss";
@import "card.scss";
@import "card-header.scss";
@import "card-misc.scss";
@import "card-release-notes";
@import "card-video-tutorial";
@import "dashboard.scss";
@import "decor.scss";
@import "filter.scss";
@import "header.scss";
@import "images.scss";
@import "engage.scss";
@import "engage-btn.scss";
@import "engage-nav-bar.scss";
@import "engage-main-menu.scss";
@import "engage-slick-menu-responsive.scss";
@import "engage-service.scss";
@import "engage-team.scss";
@import "engage-footer.scss";
@import "dimensions.scss";
@import "green.scss";
@import "cards-popup.scss";






::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 0;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: $color-dark;

  &:window-inactive {
    background: $color-dark;
  }
}



html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.main-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.no-padding {
  padding: 0px;

}

.app {
  position: relative;
  width: 100%;
  padding-left: 75px;
  padding-right: 15px;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;
  background-color: #f0f3f6;
  box-shadow: 0 0 3px #ccc;
  -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
  transition: left 0.3s ease, padding-left 0.3s ease;
  overflow: hidden;
}

.app .content {
  padding: 110px 30px 90px 30px;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .app .content {
    padding: 40px 10px 0px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app .content {
    padding: 40px 0px 90px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .app .content {
    padding: 40px 0px 75px 0px;
  }
}
@media (max-width: 767px) {
  .app .content {
    padding: 40px 0px 65px 0px;
  }
}
@media (max-width: 991px) {
  .app {
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .app.sidebar-open {
    left: 0;
  }
}
.app.blank {
  background-color: #667380;
}
.app .drawer{
  background-color: #fff;
  padding: 110px 30px 90px 30px;
  min-height: 100vh;
}
@media (min-width: 1200px) {
  .app .drawer {
    padding: 45px 20px 0px 45px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .app .drawer {
    padding: 45px 30px 90px 45px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .app .drawer {
    padding: 45px 20px 75px 45px;
  }
}
@media (max-width: 767px) {
  .app .drawer {
    padding: 45px 10px 65px 45px;
  }
}
@media (max-width: 991px) {
  .app .drawer {
    padding: 45px 10px 65px 45px;
  }
}

.app .drawer{
  padding: 110px 30px 90px 30px;
  min-height: 100vh;
}
@media (min-width: 1200px) {
  .app .drawer {
    padding: 45px 20px 0px 45px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .app .drawer {
    padding: 45px 30px 90px 45px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .app .drawer {
    padding: 45px 20px 75px 45px;
  }
}
@media (max-width: 767px) {
  .app .drawer {
    padding: 45px 10px 65px 45px;
  }
}
@media (max-width: 991px) {
  .app .drawer {
    padding: 45px 10px 65px 45px;
  }
}

#description {
  height: 30vh;
}

#forms fieldset {
  zoom: 75%;
  margin: 0;
}

fieldset {
  padding: 10px 5px 20px 5px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

legend {
  border: 0;
  font-size: 12pt;
  font-weight: bold;
  margin: 5px 0 0 0;
  width: inherit;
}

fieldset p {
  padding: 0;
  margin: 5px 0 0 0;
}

.color-item {
  float: left;
  height: 20px;
  margin-right: 1px;
  width: 20px;
  border: 1px solid #CCC;
}

.color-item.active {
  border-color: #555;
}

.sidebar-active {
  background: $main-theme-green;
}
.sidebar-active .fa {
  color: white;
}
.sidebar-active span{
  color: white;
}
