.task {
  font-family: Verdana;
  font-size: 10px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 180px;
  height: 50px;
  position: absolute;
  background: #DDD;
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.task p {
  margin-bottom: 0;
}

#diagram {
  background: #d7dde4;
  height: 100vh;
}

#forms {
  background: white;
  height: 100vh;
  font-family: Verdana;
  font-size: 10px;
}

fieldset {
  padding: 10px 5px 20px 5px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

legend {
  border: 0;
  font-size: 12pt;
  font-weight: bold;
  margin: 5px 0 0 0;
  width: inherit;
}

fieldset p {
  padding: 0;
  margin: 5px 0 0 0;
}

#diagram .ui-selected {
  background: #F39814;
  color: white;
}

.color-item {
  float: left;
  height: 20px;
  margin-right: 1px;
  width: 20px;
  border: 1px solid #CCC;
}

.color-item.active {
  border-color: #555;
}
