.box {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 200px;
  height: 50px;
  position: absolute;
  background: #DDD;
}

.box p {
  margin-bottom: 0;
}

#diagram {
  background: #d7dde4;
  height: 70vh;
}
