/*@import "alert.scss";*/
@import "auth.scss";
@import "btn.scss";
@import "btn-primary.scss";
@import "btn-secondary.scss";
/*@import "btn-success.scss";
@import "btn-info.scss";
@import "btn-warning.scss";
@import "btn-danger.scss";
@import "btn-outline.scss";*/
/*@import "card.scss";*/
@import "card-header.scss";
@import "card-misc.scss";
@import "card-release-notes";
@import "card-video-tutorial";
@import "dashboard.scss";
@import "dropdownmenu.scss";
/*@import "errors.scss";*/
@import "filter.scss";
@import "footer.scss";
@import "form.scss";
@import "header.scss";
@import "images.scss";
@import "item.scss";
@import "misc.scss";
@import "nav.scss";
@import "option-bar.scss";
@import "sidebar.scss";
@import "engage.scss";
@import "engage-btn.scss";
@import "engage-nav-bar.scss";
@import "engage-main-menu.scss";
@import "engage-slick-menu-responsive.scss";
@import "engage-service.scss";
@import "engage-team.scss";
@import "engage-footer.scss";
@import "theme-color.scss";
@import "green.scss";
/*@import "table.scss";*/

// Gfranciscani Styles

// Variables
@import 'variables.scss';

// Ui elements
@import 'ui/ui.loader.scss';
@import 'ui/ui.bootstrap-slider.scss';
@import 'ui/ui.mouse-pointers.scss';
@import 'ui/ui.tooltipster.scss';

// Visualizations
@import 'visualizations/main.scss';
@import 'visualizations/bar-chart/main.scss';
@import 'visualizations/line-chart/main.scss';
@import 'visualizations/correlation-matrix/main.scss';
@import 'visualizations/sentiment-analysis/main.scss';
@import 'visualizations/graph-canvas/main.scss';
@import 'visualizations/topicos-vis/main.scss';
@import 'visualizations/wordtree-diagram/main.scss';
@import 'visualizations/search-tool/main.scss';
@import 'visualizations/table/main.scss';

// Visualizations Cards
@import 'visualizations/vis-cards-container/main.scss';
@import 'visualizations/vis-card/main.scss';

// Gfranciscani Styles


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #4f5f6f;
overflow-x: hidden; }

.main-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow-y: auto;
overflow-x: hidden; }

.app {
  position: relative;
  width: 100%;
  padding-left: 50px;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;
  background-color: #f0f3f6;
  box-shadow: 0 0 3px #ccc;
  -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
  transition: left 0.3s ease, padding-left 0.3s ease;
overflow: hidden; }

.app .content {
  padding: 110px 30px 90px 30px;
min-height: 100vh; }
@media (min-width: 1200px) {
  .app .content {
padding: 45px 20px 0px 20px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .app .content {
padding: 45px 30px 90px 30px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .app .content {
padding: 45px 20px 75px 70px; } }
@media (max-width: 767px) {
  .app .content {
padding: 45px 10px 65px 10px; } }
@media (max-width: 991px) {
  .app {
padding-left: 0; } }
@media (max-width: 991px) {
  .app.sidebar-open {
left: 0; } }
.app.blank {
background-color: #667380; }
.app .drawer{
  background-color: #fff;
  padding: 110px 30px 90px 30px;
min-height: 100vh; }
@media (min-width: 1200px) {
  .app .drawer {
padding: 45px 20px 0px 45px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .app .drawer {
padding: 45px 30px 90px 45px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .app .drawer {
padding: 45px 20px 75px 45px; } }
@media (max-width: 767px) {
  .app .drawer {
padding: 45px 10px 65px 45px; } }
@media (max-width: 991px) {
  .app .drawer {
padding: 45px 10px 65px 45px; } }

.app .drawer{
  padding: 110px 30px 90px 30px;
min-height: 100vh; }
@media (min-width: 1200px) {
  .app .drawer {
padding: 45px 20px 0px 45px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .app .drawer {
padding: 45px 30px 90px 45px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .app .drawer {
padding: 45px 20px 75px 45px; } }
@media (max-width: 767px) {
  .app .drawer {
padding: 45px 10px 65px 45px; } }
@media (max-width: 991px) {
  .app .drawer {
padding: 45px 10px 65px 45px; } }

.task {
  font-family: Roboto;
  font-size: 10px;
  border-radius: 5px;
  border: 2px solid #888;
  padding: 0px 2px;
  width: 180px;
  height: 60px;
  position: absolute;
  background: #FFF;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.task p {
  border-bottom: 1px solid #888;
  font-size: 9pt;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.task > span {
  background: #fff;
  display: block;
  margin: 0px -2px 2px -2px;
  padding: 2px;
}
#description {
  height: 30vh;
}

#diagram {
  background: #d7dde4;
  background: url('images/grid.png');
  border: 1px solid #ddd;
  height: 85vh;
  overflow: hidden;
}

#forms {
  left: calc(100% - 230px);
  display: none;
  margin-top: 97px;
  margin-bottom: 40px;
  background: white;
  border: 1px solid #ddd;
  height: 85vh;
  font-family: Verdana;
  font-size: 10px;
  overflow: hidden;
  padding: 5px;
}
@media (max-width: 991px) {
  #forms {
  margin-top: 140px;} }

#forms fieldset {
  zoom: 75%;
  margin: 0;
}

fieldset {
  padding: 10px 5px 20px 5px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

legend {
  border: 0;
  font-size: 12pt;
  font-weight: bold;
  margin: 5px 0 0 0;
  width: inherit;
}

fieldset p {
  padding: 0;
  margin: 5px 0 0 0;
}

#diagram .ui-selected {
  -webkit-box-shadow: 5px 5px 5px 0px #444;
  -moz-box-shadow: 5px 5px 5px 0px #444;
  box-shadow: 5px 5px 5px 0px #444;
}

.color-item {
  float: left;
  height: 20px;
  margin-right: 1px;
  width: 20px;
  border: 1px solid #CCC;
}

.color-item.active {
  border-color: #555;
}

.sidebar-active {
  background: $main-theme-green;
}
.sidebar-active .fa {
  color: white;
}
.sidebar-active span{
  color: white;
}
.pending {
  color: yellow;
}
a .pending{
  color: yellow;
}



