  .btn.btn-primary {
    color: #ffffff;
    background-color: #4bcf99;
    border-color: #4bcf99; }
    .btn.btn-primary:not(.play):not(.pause):not(.stop):hover {
      color: #ffffff;
      background-color: #31b680;
      border-color: #2eae7a; }
    .btn.btn-primary:focus, .btn.btn-primary.focus {
      color: #ffffff;
      background-color: #31b680;
      border-color: #2eae7a; }
    .btn.btn-primary:active, .btn.btn-primary.active,
    .open > .btn.btn-primary.dropdown-toggle {
      color: #ffffff;
      background-color: #31b680;
      border-color: #2eae7a;
      background-image: none; }
      .btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active.focus, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active.focus,
      .open > .btn.btn-primary.dropdown-toggle:hover,
      .open > .btn.btn-primary.dropdown-toggle:focus,
      .open > .btn.btn-primary.dropdown-toggle.focus {
        color: #ffffff;
        background-color: #299a6c;
        border-color: #217a55; }
    .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus, .btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus {
      background-color: #4bcf99;
      border-color: #4bcf99; }
    .btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
      background-color: #4bcf99;
      border-color: #4bcf99; }

