@import "theme-color.scss";

.btn.btn-primary {
  color: #ffffff;
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;

  &:not(.play):not(.pause):not(.stop):hover, &:focus, &.focus {
    color: #ffffff;
    background-color: $btn-primary-bg-hover;
    border-color: $btn-primary-border-hover;
  }

  &:active, &.active {
    color: #ffffff;
    background-color: $btn-primary-bg-hover;
    border-color: $btn-primary-border-hover;
    background-image: none;
  }
}

.open > .btn.btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: $btn-primary-bg-hover;
  border-color: $btn-primary-border-hover;
  background-image: none;
}

.btn.btn-primary {
  &:active {
    &:hover, &:focus, &.focus {
      color: #ffffff;
      background-color: #299a6c;
      border-color: #217a55;
    }
  }

  &.active {
    &:hover, &:focus, &.focus {
      color: #ffffff;
      background-color: #299a6c;
      border-color: #217a55;
    }
  }
}

.open > .btn.btn-primary.dropdown-toggle {
  &:hover, &:focus, &.focus {
    color: #ffffff;
    background-color: #299a6c;
    border-color: #217a55;
  }
}

.btn.btn-primary {
  &.disabled {
    &:focus, &.focus {
      background-color: $btn-primary-bg;
      border-color: $btn-primary-border;
    }
  }

  &:disabled {
    &:focus, &.focus {
      background-color: $btn-primary-bg;
      border-color: $btn-primary-border;
    }
  }

  &.disabled:hover, &:disabled:hover {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
  }
}
