.btn {
  background-image: none;
  border-radius: 0;
  margin-bottom: 5px;

  &.btn-pill-left:focus, &.btn-pill-right:focus, &.btn-oval:focus {
    outline: none;
    outline-offset: initial;
  }

  &.btn-pill-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  &.btn-pill-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &.btn-oval {
    border-radius: 25px;
  }

  &.btn-link {
    text-decoration: none;
  }

  strong {
    font-weight: 600;
  }
}

.btn-group .dropdown-menu > li:last-child a:hover:before {
  height: 0px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
