.dashboard-page {
  #dashboard-downloads-chart, #dashboard-visits-chart {
    height: 220px;
  }

  .items {
    .card-header {
      .title {
        padding-right: 0px;
        margin-right: 5px;
      }

      .search {
        margin: 0;
        vertical-align: middle;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        .search-input {
          border: none;
          background-color: inherit;
          color: #C2CCD6;
          width: 100px;
          -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;

          &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            -webkit-transition: color 0.3s ease;
            transition: color 0.3s ease;
            color: #C2CCD6;
          }

          &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            transition: color 0.3s ease;
            color: #C2CCD6;
          }

          &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            transition: color 0.3s ease;
            color: #C2CCD6;
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            transition: color 0.3s ease;
            color: #C2CCD6;
          }

          &:focus {
            color: #7e8e9f;

            &::-webkit-input-placeholder {
              /* WebKit, Blink, Edge */
              color: #aab4c0;
            }

            &:-moz-placeholder {
              /* Mozilla Firefox 4 to 18 */
              color: #aab4c0;
            }

            &::-moz-placeholder {
              /* Mozilla Firefox 19+ */
              color: #aab4c0;
            }

            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: #aab4c0;
            }

            + .search-icon {
              color: #7e8e9f;
            }
          }
        }

        .search-icon {
          color: #C2CCD6;
          -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
          -webkit-box-ordinal-group: 0;
          -webkit-order: -1;
          -ms-flex-order: -1;
          order: -1;
          padding-right: 6px;
        }
      }

      .pagination {
        display: inline-block;
        margin: 0;
      }
    }

    .item-list {
      .item-col-title {
        -webkit-box-flex: 9;
        -webkit-flex-grow: 9;
        -ms-flex-positive: 9;
        flex-grow: 9;
      }

      .item-col-date {
        text-align: right;
      }
    }
  }

  .sales-breakdown .dashboard-sales-breakdown-chart {
    margin: 0 auto;
    max-width: 250px;
    max-height: 250px;
  }

  #dashboard-sales-map {
    .jqvmap-zoomin {
      background-color: #4bcf99;
      height: 20px;
      width: 20px;
      line-height: 14px;
    }

    .jqvmap-zoomout {
      background-color: #4bcf99;
      height: 20px;
      width: 20px;
      line-height: 14px;
      top: 32px;
    }
  }

  .stats {
    .card-block {
      padding-bottom: 0;
    }

    .stat-col {
      margin-bottom: 20px;
      float: left;
      white-space: nowrap;
      overflow: hidden;
    }

    .stat-icon {
      color: #4bcf99;
      display: inline-block;
      font-size: 26px;
      text-align: center;
      vertical-align: middle;
      width: 50px;
    }

    .stat-chart {
      margin-right: 5px;
      vertical-align: middle;
    }

    .stat {
      vertical-align: middle;
    }

    .stat-progress {
      height: 2px;
      margin: 5px 0;
      color: #4bcf99;

      &[value] {
        &::-webkit-progress-bar {
          background-color: #dddddd;
        }

        &::-webkit-progress-value {
          background-color: #4bcf99;
        }

        &::-moz-progress-bar {
          background-color: #dddddd;
        }
      }
    }
  }

  .tasks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;

    .title-block .title {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    label {
      width: 100%;
      margin-bottom: 0;

      .checkbox:checked + span {
        text-decoration: line-through;
      }

      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

    .tasks-block {
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 0;
      margin-right: -5px;
    }

    .item-list .item-col {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

@media (max-width: 543px) {
  .dashboard-page .items .card-header {
    border: none;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .header-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 1px solid #e9edf0;
    }
  }
}

@media (max-width: 543px) {
  .dashboard-page .items .card-header .search {
    min-width: 50%;
  }
}

@media (max-width: 543px) {
  .dashboard-page .items .card-header .search .search-input {
    min-width: 130px;
  }
}

@media (min-width: 1200px) {
  .dashboard-page .items .item-list .item-col-date {
    -webkit-box-flex: 4;
    -webkit-flex-grow: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
  }
}

@media (max-width: 767px) {
  .dashboard-page .items .item-list {
    .item-row {
      padding: 0;
    }

    .item-col {
      padding-left: 10px;
      padding-right: 10px;
    }

    .item-col-img {
      padding-left: 10px;
      -webkit-flex-basis: 60px;
      -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
      padding-right: 0;
    }

    .item-col-stats {
      text-align: center;
    }
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .dashboard-page .items .item-list {
    .item-col-title {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      border-bottom: 1px solid #e9edf0;
    }

    .item-col:not(.item-col-title):not(.item-col-img) {
      position: relative;
      padding-top: 35px;
    }

    .item-heading {
      position: absolute;
      height: 30px;
      width: 100%;
      left: 0;
      top: 5px;
      line-height: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media (max-width: 543px) {
  .dashboard-page .items .item-list {
    .item-col {
      border-bottom: 1px solid #e9edf0;
    }

    .item-col-img {
      -webkit-flex-basis: 50px;
      -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
      -webkit-box-ordinal-group: -4;
      -webkit-order: -5;
      -ms-flex-order: -5;
      order: -5;
    }

    .item-col-title {
      -webkit-flex-basis: calc(100% - 50px);
      -ms-flex-preferred-size: calc(100% - 50px);
      flex-basis: calc(100% - 50px);
    }

    .item-col:not(.item-col-title):not(.item-col-img) {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      text-align: left;

      .item-heading {
        text-align: left;
      }
    }

    .item-col-date {
      border: none;
    }
  }
}

@media (min-width: 1200px) {
  .dashboard-page .stats .stat-chart {
    margin-right: 0.6vw;
  }
}

@media (min-width: 1200px) {
  .dashboard-page .stats .stat .value {
    font-size: 1.3vw;
  }
}

@media (min-width: 1200px) {
  .dashboard-page .stats .stat .name {
    font-size: 0.9vw;
  }
}
