/* SlickMenu responsive */
@media screen and (max-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.top_search {
  .top_search_con {
    background: #fff;
    border: 1px solid #E4E4E4 !important;
    height: 38px;
    border-radius: 50px;
    position: relative;
    width: 100%;

    input {
      &[type="text"], &:focus {
        background: none !important;
        border: medium none;
        height: 100%;
        width: 100%;
        padding: 1px 20px 0 40px;
        color: #818B8D;
        font-size: 12px;
        outline: none;
      }
    }
  }

  .top_search_icon {
    font-size: 14px;
    left: 15px;
    position: absolute;
    top: 7px;
  }

  .top_search_submit {
    border: medium none;
    padding: 0;
    position: absolute;
    width: 20px;
    left: 12px;
    opacity: 0;
    top: 9px;
  }
}
