/* ==========================================================================
   About Us Section Start
   ========================================================================== */
.split {
  background-color: #F6F6F6;
}

.split h2.title {
  font-size: 28px;
  text-transform: uppercase;
  margin: 10px 0 20px 0;
}
.split .lead {
  font-size: 14px;
}
.split .details-list {
  margin-top: 36px;
}
.split .details-list h3 {
  font-size: 16px;
   font-weight: 300;
}
