/* ==========================================================================
   Service Section Start
   ========================================================================== */

.service-item {
  text-align: center;

  .icon-wrapper {
    font-size: 40px;
    margin-bottom: 30px;

    i {
      display: block;
      margin: 0 auto;
    }
  }

  h2 {
    font-size: 22px;
    margin-bottom: 15px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }

  p {
    font-size: 13px;
  }
}

.pulse-shrink {
  display: inline-block;
}

.service-item:hover .pulse-shrink {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#other-services {
  background: #fff;

  .nav-tabs {
    border-bottom: none;
    float: left;

    li {
      float: none;

      a {
        border: none;
        background: transparent;
        margin: 0;
        padding: 0;

        i {
          background: #81868e;
          font-size: 20px;
          text-align: center;
          color: #fff;
          float: left;
          width: 50px;
          border-radius: 50%;
          height: 50px;
          line-height: 50px;
          margin: 10px 0;
          cursor: pointer;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

        &:hover i, &:focus, &.active i {}
      }
    }
  }

  .tab-content {
    margin: 10px 0px 0px 80px;
  }

  .service-content {
    h3 {
      font-size: 20px;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    p {
      &.lead {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 25px;
      }

      font-size: 14px;
    }
  }
}

.skill p {
  margin-bottom: 10px;
  font-weight: 600;
}

.progress {
  background: #F5F5F5;
  height: 10px;
  margin: 0 0 20px;
  position: relative;
  width: 100%;
}
