#main-menu ul {
  > li > a {
    background: transparent !important;
    color: #333;
    position: relative;
    padding: 28px 20px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

@-webkit-keyframes MenuFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes MenuFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
