.bgimg {
  background-image: url('/assets/images/lemon.jpg');
  min-height: 400px;
  margin-top: 74px;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &:hover {
    color: #a22f30;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.section-title {
  text-align: center;
  font-size: 38px;
  line-height: 40px;
  color: #000;
  font-family: 'Muli', sans-serif;
  padding: 10px 0;
}

.section-subcontent {
  text-align: center;
  padding-bottom: 30px;
}

.small-title {
  font-size: 22px;
  position: relative;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    position: absolute;
    top: 0;
  }

  /* #menu is the original menu */
}

/*Short code icons style*/

i.icon-round {
  border-radius: 100%;
  color: #fff;
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 13px;
  margin-right: 13px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}
