.navbar {
  margin-bottom: 0;
  background-color: #fff;
  li {
    color: #666;
  }
}

.navbar-brand {
  width: 130px;
  padding-top: 1.1rem;
  height: auto;
}

@-webkit-keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  padding: 0px;
  border-bottom: 1px solid #e4e4e4;
}

.nav-inline .nav-item + .nav-item {
  margin-left: 0px;
}
