#team {
  .team-item {
    figure {
      position: relative;
      overflow: hidden;
      width: 100%;
      margin: 0;

      img {
        width: 100%;
        height: auto;
      }

      figcaption {
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.85);
        opacity: 0;
        width: 100%;
        -webkit-transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);

        .details {
          position: absolute;
          top: 30%;
        }

        .content-white {
          font-size: 13px;
          text-align: center;
          color: #FFF;
          margin: 0 auto;
          line-height: 18px;
          width: 65%;
          -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

        .orange-line {
          margin: 12px auto 6px;
          width: 0px;
          height: 1px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }

      &:hover {
        figcaption {
          opacity: 1;
        }

        .orange-line {
          width: 62px;
        }

        figcaption .content-white, .social a {
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
        }
      }
    }

    .social {
      text-align: center;
      margin-top: 15px;

      .facebook, .twitter, .google-plus {
        font-size: 14px;
        line-height: normal;
        outline: none;
        border-radius: 50%;
        color: #fff;
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        display: inline-block;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        margin-right: 5px;
      }

      .facebook {
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
      }

      .twitter {
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }

      .google-plus {
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease;
      }

      a:hover {
        background: transparent;
      }
    }
  }

  .info {
    background: #F6F6F6;
    padding: 15px 0 1px;
    text-align: center;

    h2 {
      color: #000;
      font-size: 18px;
    }

    p {
      color: #000;
      font-size: 12px;
      font-weight: 300;
      line-height: 22px;
      text-transform: uppercase;
    }
  }
}

.orange-line {
  margin: 12px auto 6px;
  width: 52px;
  height: 1px;
}
