@import "theme-color.scss";

.filter{
  &.queryBuilder{
    margin: 5px;
    overflow: auto;
    .rules-group-container{
      background: white;
      border-color: #d7dde4;
      padding-left: 20px;
      padding-right: 20px;
      .btn{
        &.btn-xs{
          &.btn-primary{
            background: $main-theme-green;
            border-color: $main-theme-green;
            &.active{
              background:  #4e7b1e;
              border-color:  #4e7b1e;
            }
          }
          &.btn-success{
            background: #2f3840;
            border-color: #2f3840;
            &:hover {
              background: $main-theme-hover-green;
              border-color: $main-theme-hover-green;

            }
          }
        }
      }
      .rules-list{
        .rule-container{
          background: #f0f3f6;
        }
      }
    }
  }
}
.categories{
  font-size: 16px;
  font-family: 'Muli', sans-serif;
}
.query{
  width: 100%;
  height: 100px;
  resize: none;
  outline: none;
  &.btn-success{
    width: 100%;
    height: 100%;
  }
}

