.footer {
  background-color: #2f3840;
  position: absolute;
  left: 60px;
  right: 0;
  bottom: 0;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-fixed .footer {
  position: fixed;
}

.footer {
  .footer-block {
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-github-btn {
    vertical-align: middle;
  }

  .author > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:after {
        content: "|";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

@media (max-width: 991px) {
  .footer {
    left: 60px;
  }
}

@media (max-width: 991px) {
  .footer .author > ul li {
    display: block;
    text-align: right;

    &:after {
      content: "";
    }
  }
}

@media (max-width: 991px) {
  .footer .author > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  .footer .author > ul {
    display: none;
  }
}
