@import "theme-color.scss";

input, textarea {
  outline: none;
}

.form-group {
  .row {
    margin-left: -10px;
    margin-right: -10px;

    [class^='col'] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &.has-error {
    span.has-error {
      color: #FF4444;
      font-size: 13px;
      display: block !important;
    }

    .form-control-feedback {
      color: #FF4444;
    }
  }

  &.has-warning {
    span.has-warning {
      color: #fe974b;
      font-size: 13px;
      display: block !important;
    }

    .form-control-feedback {
      color: #fe974b;
    }
  }

  &.has-success {
    span.has-success {
      color: $main-theme-green;
      font-size: 13px;
      display: block !important;
    }

    .form-control-feedback {
      color: $main-theme-green;
    }
  }
}

/* Input groups */

.input-group {
  margin-bottom: 10px;

  .form-control {
    padding-left: 5px;
  }

  span.input-group-addon {
    font-style: italic;
    border: none;
    border-radius: 0;
    border: none;
    background-color: #d7dde4;
    -webkit-transition: background-color ease-in-out 15s, color ease-in-out .15s;
    transition: background-color ease-in-out 15s, color ease-in-out .15s;

    &.focus {
      background-color: $main-theme-green;
      color: #ffffff;
    }
  }
}

label, .control-label {
  font-weight: 600;
}

.form-control.underlined {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #d7dde4;

  &.indented {
    padding: .375rem .75rem;
  }
}

.has-error .form-control.underlined:focus, .has-warning .form-control.underlined:focus, .has-success .form-control.underlined:focus, .form-control.underlined:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $main-theme-green;
}

.has-error .form-control.underlined {
  box-shadow: none;
  border-color: #FF4444;
}

.has-warning .form-control.underlined {
  box-shadow: none;
  border-color: #fe974b;
}

.has-success .form-control.underlined {
  box-shadow: none;
  border-color: $main-theme-green;
}

.form-control.boxed {
  border-radius: 0;
  box-shadow: none;

  &:focus {
    border: 1px solid $main-theme-green;
  }
}

.radio, .checkbox {
  display: none;
}

.radio + span, .checkbox + span {
  padding: 0;
  padding-right: 10px;
}

.radio + span:before, .checkbox + span:before {
  font-family: FontAwesome;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 10px;
  color: #c8d0da;
}

.radio:checked + span:before, .checkbox:checked + span:before {
  color: $main-theme-green;
}

.radio:disabled + span:before, .checkbox:disabled + span:before {
  opacity: 0.5;
  cursor: not-allowed;
}

.radio:checked:disabled + span:before {
  color: #c8d0da;
}

.checkbox {
  &:checked {
    &:disabled + span:before {
      color: #c8d0da;
    }

    + span:before {
      content: "\f14a";
    }
  }

  + span:before {
    content: "\f0c8";
  }

  &.rounded {
    + span:before {
      content: "\f111";
    }

    &:checked + span:before {
      content: "\f058";
    }
  }
}

.radio {
  + span:before {
    content: "\f111";
  }

  &:checked + span:before {
    content: "\f192";
  }

  &.squared {
    + span:before {
      content: "\f0c8";
    }

    &:checked + span:before {
      content: "\f14a";
    }
  }
}

.form-control {
  &::-webkit-input-placeholder {
    font-style: italic;
    color: #c8d0da;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: #d7dde4;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #d7dde4;
  }

  &:-ms-input-placeholder {
    font-style: italic;
    color: #d7dde4;
  }
}
