input, textarea {
  outline: none;
}

.form-group {
  a {
    color: $color-dark;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;

    [class^='col'] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &.has-error {
    span.has-error {
      color: #FF4444;
      font-size: 13px;
      display: block !important;
    }

    .form-control-feedback {
      color: #FF4444;
    }
  }

  &.has-warning {
    span.has-warning {
      color: #fe974b;
      font-size: 13px;
      display: block !important;
    }

    .form-control-feedback {
      color: #fe974b;
    }
  }

  &.has-success {
    span.has-success {
      color: $main-theme-green;
      font-size: 13px;
      display: block !important;
    }

    .form-control-feedback {
      color: $main-theme-green;
    }
  }
}

label, .control-label {
  font-weight: 600;
  .label-append {
    font-size: 0.9rem;
  }
}

.form-control.underlined {
  background-color: $color-text-lighter;
  color: $color-text-darker;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #d7dde4;
}

.has-error .form-control.underlined:focus, .has-warning .form-control.underlined:focus, .has-success .form-control.underlined:focus, .form-control.underlined:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $color-lighter;
}

.has-error .form-control.underlined {
  box-shadow: none;
  border-color: $color-error;
}

.has-warning .form-control.underlined {
  box-shadow: none;
  border-color: $color-interrupted;
}

.has-success .form-control.underlined {
  box-shadow: none;
  border-color: $color-completed;
}

.radio, .checkbox {
  display: none;
}

.radio + span, .checkbox + span {
  padding: 0;
  padding-right: 10px;
}

.radio + span:before, .checkbox + span:before {
  font-family: FontAwesome;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 10px;
  color: $color-lighter;
}

.radio:checked + span:before, .checkbox:checked + span:before {
  color: $color-darker;
}

.radio:disabled + span:before, .checkbox:disabled + span:before {
  opacity: 0.5;
  cursor: not-allowed;
}

.radio:checked:disabled + span:before {
  color: #c8d0da;
}

.checkbox {
  &:checked {
    &:disabled + span:before {
      color: #c8d0da;
    }

    + span:before {
      content: "\f14a";
    }
  }

  + span:before {
    content: "\f0c8";
  }

  &.rounded {
    + span:before {
      content: "\f111";
    }

    &:checked + span:before {
      content: "\f058";
    }
  }
}

.radio {
  + span:before {
    content: "\f111";
  }

  &:checked + span:before {
    content: "\f192";
  }

  &.squared {
    + span:before {
      content: "\f0c8";
    }

    &:checked + span:before {
      content: "\f14a";
    }
  }
}

.form-control {
  &::-webkit-input-placeholder {
    font-style: italic;
    color: $color-text-base;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: $color-text-base;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: $color-text-base;
  }

  &:-ms-input-placeholder {
    font-style: italic;
    color: $color-text-base;
  }
}

.form-code {
  font-family: "Lucida Console", Monaco, monospace;
}

.form-group {
  span.checkbox-text {
    vertical-align: bottom;
    font-size: 0.9em;
    a {
      vertical-align: bottom;
    }
  }
}

.form-group {
  .btn.sign-up {
    background-color: $color-light;
    border-color: $color-light;
    color: $color-text-lighter;
  }

  a.text-align-bottom {
    margin-top: 0.5em;
  }

  .forgot-btn a {
    color: $color-dark;
  }

  .btn.login {
    background-color: $color-light;
    border-color: $color-light;
    color: $color-text-lighter;
  }

  .btn.confirm {
    background-color: $color-base;
    border-color: $color-base;
    color: $color-text-lighter;
  }

  .btn.info {
    background-color: $color-light;
    border-color: $color-light;
    color: $color-text-lighter;
  }

}

.title-block {
  margin: 15px 0 0 0;
}

.card-block {
  margin: 0 !important;
}
