a{
	color: #9C3;
}
a.titulo{
	color: #3a4651;
}
a.titulo:hover{
  color: #526b84;
}
a:hover{
	color: #526b84;
}


.section-title::before{
	border-color: #9C3;
}
.small-title::before{
	border-color: #9C3;
}
#service-block-main .service-item:hover i{
	color: #9C3;
	border-color: #9C3;
}
#service-block-main .service-item:hover h2{
	color: #9C3;
}
#service-block-main .service-item:hover .icon-wrapper::before {
  background: #9C3;
}
#service-block-main .service-item:hover .icon-wrapper::after {
  background: #9C3;
}




/* New Css */


i.icon-round {
  background-color: #9C3;
}


.btn-common {
  background: #3a4651 none repeat scroll 0 0;
  /*9C3*/
}
.btn-common::before {
  background: #526b84 none repeat scroll 0 0;
  /*7aa427*/
}


#other-services .nav-tabs li a:hover i, #other-services .nav-tabs li a:focus, #other-services .nav-tabs li a.active i {
  background: #9C3 none repeat scroll 0 0;
}


#team .team-item figure figcaption .orange-line {
  background: #9C3 none repeat scroll 0 0;
}
#team .team-item .social .facebook, #team .team-item .social .twitter, #team .team-item .social .google-plus {
  background: #9C3 none repeat scroll 0 0;
  border: 1px solid #9C3;
}
.orange-line {
  background: #9C3 none repeat scroll 0 0;
}


#main-menu .nav-link.active {
  color: #9C3;
}
#main-menu .nav-link:hover {
  color: #9C3;
}
.sup-desc-wrap .sup-link a:hover {
  color: #9C3;
}
#team .team-item .social a:hover {
  color: #9C3;
}

