@import "theme-color.scss";

a {
  color: $main-theme-green;

  &.titulo {
    color: #3a4651;

    &:hover {
      color: #526b84;
    }
  }

  &:hover {
    color: #526b84;
  }
}

.section-title::before, .small-title::before {
  border-color: $main-theme-green;
}

#service-block-main .service-item:hover {
  i {
    color: $main-theme-green;
    border-color: $main-theme-green;
  }

  h2 {
    color: $main-theme-green;
  }

  .icon-wrapper {
    &::before, &::after {
      background: $main-theme-green;
    }
  }
}

/* New Css */

i.icon-round {
  background-color: $main-theme-green;
}

.btn-common {
  background: #3a4651 none repeat scroll 0 0;

  /*9C3*/

  &::before {
    background: #526b84 none repeat scroll 0 0;

    /*7aa427*/
  }
}

#other-services .nav-tabs li a {
  &:hover i, &:focus, &.active i {
    background: $main-theme-green none repeat scroll 0 0;
  }
}

#team .team-item {
  figure figcaption .orange-line {
    background: $main-theme-green none repeat scroll 0 0;
  }

  .social {
    .facebook, .twitter, .google-plus {
      background: $main-theme-green none repeat scroll 0 0;
      border: 1px solid $main-theme-green;
    }
  }
}

.orange-line {
  background: $main-theme-green none repeat scroll 0 0;
}

#main-menu .nav-link {
  &.active, &:hover {
    color: $main-theme-green;
  }
}

.sup-desc-wrap .sup-link a:hover, #team .team-item .social a:hover {
  color: $main-theme-green;
}
