a{
	color: #9C3;
}
a.titulo{
	color: #3a4651;
}
a.titulo:hover{
  color: #526b84;
}
a:hover{
	color: #526b84;
}


.section-title::before{
	border-color: #9C3;
}
.small-title::before{
	border-color: #9C3;
}
.page-header-section{background: #9C3;}
#service-block-main .service-item:hover i{
	color: #9C3;
	border-color: #9C3;
}
#service-block-main .service-item:hover h2{
	color: #9C3;
}
#service-block-main .service-item:hover .icon-wrapper::before {
  background: #9C3;
}
#service-block-main .service-item:hover .icon-wrapper::after {
  background: #9C3;
}


.scroll-top:hover{
	background: #9C3;
	border-color: #9C3;
}

/* services */
#service-block-1 .service-item:hover .service-content h2{
	color: #9C3;
}
#service-block-1 .service-item:hover .icon{
	border-color: #9C3;
}
#service-block-1 .service-item:hover .icon i{
	background: #9C3;
}
#service-block-2 .service-inner:hover i{
	color: #9C3;
}
#service-block-2 .service-inner:hover h3{
	color: #9C3;
}
#team-block-2 .team-member:hover{
	border-color: #9C3;
}

/*  Mobile menu */
.slicknav_btn{
  border-color: #9C3;
}
.slicknav_btn:hover{
	background: #9C3;
}
.slicknav_nav a:hover,
.slicknav_open .active a{
  color: #9C3;
}
.slicknav_menu .slicknav_icon-bar{
  background: #9C3;
}
.tparrows.preview2:hover:after{
	color: #9C3;
}
#default-tab .nav-tabs > li > a.active , #default-tab .nav-tabs > li a.active:focus, #default-tab .nav-tabs > li a.active:hover {
    color: #9C3;
}
#default-tab ul.nav-tabs > li a.active::before {
  background-color: #9C3;
}

/* New Css */


i.icon-round {
  background-color: #9C3;
}
i.icon-round-border {
  border: 3px solid #9C3;
  color: #9C3;
}

.btn-common {
  background: #3a4651 none repeat scroll 0 0;
  /*9C3*/
}
.btn-common::before {
  background: #526b84 none repeat scroll 0 0;
  /*7aa427*/
}


#other-services .nav-tabs li a:hover i, #other-services .nav-tabs li a:focus, #other-services .nav-tabs li a.active i {
  background: #9C3 none repeat scroll 0 0;
}


#team .team-item figure figcaption .orange-line {
  background: #9C3 none repeat scroll 0 0;
}
#team .team-item .social .facebook, #team .team-item .social .twitter, #team .team-item .social .google-plus {
  background: #9C3 none repeat scroll 0 0;
  border: 1px solid #9C3;
}
.orange-line {
  background: #9C3 none repeat scroll 0 0;
}

#main-menu ul .dropdown .dropdown-menu .dropdown-item.active, #main-menu ul .dropdown .dropdown-menu .dropdown-item.active:focus, #main-menu ul .dropdown .dropdown-menu .dropdown-item.active:hover {
  color: #9C3  ;
  background-color: #eee;
}
#main-menu .nav-link.active {
  color: #9C3;
}
#main-menu .nav-link:hover {
  color: #9C3;
}
.sup-desc-wrap .sup-link a:hover {
  color: #9C3;
}
#team .team-item .social a:hover {
  color: #9C3;
}
#main-menu ul .dropdown .dropdown-menu a:hover, #main-menu .dropdown .dropdown-menu a .active {
  color: #9C3;
}
