.grid-stack-item {
  padding: 0px;

  .grid-stack-item-content {
    padding: 0px;
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
  }
  .ui-resizable-se {
    right: 0px !important;
  }

  .ui-resizable-handle {
    z-index: 1002 !important;
    display: none !important;
  }

  &:hover {
    .ui-resizable-handle {
      display: block !important;
    }
  }
}
