@import "theme-color.scss";

.header {
  background-color: #2f3840;
  height: 40px;
  position: absolute;
  left: 60px;
  right: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .header {
    left: 0;
    height: 50px;
  }
}

.header-fixed .header {
  position: fixed;
}

.header {
  .header-block {
    margin-right: 15px;
  }

  .header-block-buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;

    .btn.header-btn {
      background-color: transparent;
      border: 1px solid #64798d;
      color: #64798d;
      margin: 0 5px;

      &:hover, &:focus {
        border: 1px solid #3a4651;
        color: #3a4651;
      }
    }
  }

  .header-block-collapse {
    padding-right: 5px;

    .collapse-btn {
      background: none;
      border: none;
      box-shadow: none;
      color: $main-theme-green;
      font-size: 24px;
      line-height: 40px;
      border-radius: 0;
      outline: none;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: initial;
    }
  }

  .header-block-nav {
    margin-left: auto;
    white-space: nowrap;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    a {
      text-decoration: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    > ul {
      display: table;

      > li {
        display: table-cell;
        position: relative;

        &:before {
          display: block;
          content: " ";
          width: 1px;
          height: 24px;
          top: 50%;
          margin-top: -12px;
          background-color: #8b9cb1;
          position: absolute;
          left: 0;
        }

        &:first-child:before {
          display: none;
        }

        > a {
          padding: 0 15px;
          color: #fff;

          &:hover {
            color: $main-theme-green;
          }
        }
      }
    }

    .dropdown-menu {
      margin-top: 7px;
    }
  }

  .header-block-search {
    margin-right: auto;
    padding-left: 30px;

    > form {
      float: right;
    }

    .input-container {
      position: relative;
      color: #7e8e9f;

      i {
        position: absolute;
        pointer-events: none;
        display: block;
        height: 40px;
        line-height: 40px;
        left: 0;
      }

      input {
        background-color: transparent;
        border: none;
        padding-left: 25px;
        height: 40px;
        max-width: 150px;

        &:focus + .underline {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header .header-block {
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .header .header-block-buttons {
    display: none;
  }
}

@media (max-width: 767px) {
  .header .header-block-search {
    padding-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .header-block-search {
    padding-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .header-block-search {
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .header .header-block-search {
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .header .header-block-search > form {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .header .header-block-search .input-container input {
    max-width: 140px;
  }
}

.sidebar-header .brand {
  color: #fff;
  text-align: left;
  padding-left: 25px;
  line-height: 70px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .sidebar-header .brand {
    line-height: 50px;
    font-size: 16px;
  }
}

.header .header-block-nav {
  .notifications-dropdown-menu {
    white-space: normal;
    left: auto;
    right: 0;
    min-width: 350px;

    &:before {
      position: absolute;
      right: 20px;
      bottom: 100%;
      margin-right: -1px;
    }

    &:after {
      position: absolute;
      right: 20px;
      bottom: 100%;
    }

    .notifications-container {
      .notification-item {
        border-bottom: 1px solid rgba(126, 142, 159, 0.1);
        padding: 5px;

        &:hover {
          background-color: #f5f5f5;
        }
      }

      .img-col {
        display: table-cell;
        padding: 5px;
      }

      .body-col {
        padding: 5px;
        display: table-cell;
      }

      .img {
        width: 40px;
        height: 40px;
        border-radius: 3px;
        vertical-align: top;
        display: inline-block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      p {
        color: #4f5f6f;
        display: inline-block;
        line-height: 18px;
        font-size: 13px;
        margin: 0;
        vertical-align: top;

        .accent {
          font-weight: bold;
        }
      }
    }

    footer {
      text-align: center;

      a {
        color: #373a3c;
        -webkit-transition: none;
        transition: none;

        &:hover {
          background-color: #f5f5f5;
          color: $main-theme-green;
        }
      }
    }
  }

  .profile {
    .img {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
      background-color: #8b9cb1;
      color: #ffffff;
      text-align: center;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      vertical-align: middle;
    }

    .name {
      display: inline-block;
      margin-right: 9px;
      font-weight: bold;
    }

    .arrow {
      color: $main-theme-green;
    }
  }

  .profile-dropdown-menu {
    left: auto;
    right: 0;
    min-width: 180px;
    white-space: normal;

    &:before {
      position: absolute;
      right: 10px;
      bottom: 100%;
      margin-right: -1px;
    }

    &:after {
      position: absolute;
      right: 10px;
      bottom: 100%;
    }

    a {
      padding: 10px 15px;

      .icon {
        color: $main-theme-green;
        text-align: center;
        width: 16px;
      }

      span {
        display: inline-block;
        padding-left: 5px;
        text-align: left;
        color: #7e8e9f;
      }
    }

    .profile-dropdown-menu-icon {
      padding: 0;
    }

    .profile-dropdown-menu-topic {
      color: #7e8e9f;
      padding: 0;
    }

    .dropdown-divider {
      margin: 0;
    }

    .logout {
      border-top: 1px solid rgba(126, 142, 159, 0.1);
    }
  }
}

@media (max-width: 767px) {
  .header .header-block-nav .notifications-dropdown-menu {
    min-width: 100px;
    width: 100%;
    margin-top: 5px;

    &:before, &:after {
      right: 107px;
    }
  }
}

@media (max-width: 767px) {
  .header .header-block-nav .profile .name {
    display: none;
  }
}

@media (max-width: 767px) {
  .header .header-block-nav .profile-dropdown-menu {
    margin-top: 8px;
  }
}
