.header {
  background-color: $color-darker;
  height: 40px;
  width: 100%;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
}

.header-dropdown {
  text-decoration: none !important;
}

.header {

  .header-block {
    margin-right: 15px;
  }

  .header-block-nav {
    margin-left: auto;
    white-space: nowrap;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .dropdown-menu {
      margin-top: 5px;
    }
  }
}

@media (max-width: 767px) {

  .header .header-block {
    padding: 5px;
  }
}



.header .header-block-nav {

  .profile {

    .img {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
      background-color: #8b9cb1;
      color: #ffffff;
      text-align: center;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      vertical-align: middle;
    }

    .name {
      display: inline-block;
      margin-right: 9px;
      font-weight: bold;
      color: $color-text-lighter;
    }

    a {
      color: $color-text-lighter;
    }
  }

  .profile-dropdown-menu {
    left: auto;
    right: 0;
    min-width: 180px;
    white-space: normal;
    background: white;
    box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.7);

    &:before {
      position: absolute;
      right: 10px;
      bottom: 100%;
      margin-right: -1px;
    }

    &:after {
      position: absolute;
      right: 10px;
      bottom: 100%;
    }

    a {
      padding: 10px 15px;
      color: $color-base;

      .icon {
        color: $color-base;
        text-align: center;
        width: 16px;
      }
    }

    .dropdown-item:hover, .active {
      background-color: $color-base;
      color: $color-text-lighter;

      i{
        color: $color-text-lighter;
      }
    }

    .dropdown-divider {
      margin: 0;
    }

    .logout {
      border-top: 1px solid rgba(126, 142, 159, 0.1);
    }
  }
}


@media (max-width: 767px) {

  .header .header-block-nav .profile .name {
    display: none;
  }
}

@media (max-width: 767px) {

  .header .header-block-nav .profile-dropdown-menu {
    margin-top: 8px;
  }
}
