.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  line-height: 1.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media (min-width: 992px) and (max-width: 1199px) {
  .item-list {
    font-size: 1rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  .item-list {
    font-size: 0.95rem; } }
  @media (max-width: 767px) {
    .item-list {
      font-size: 1.05rem; } }
  .item-list.striped > li {
    border-bottom: 1px solid #e9edf0; }
  .item-list.striped > li:nth-child(2n + 1) {
    background-color: #fcfcfd; }
    @media (max-width: 767px) {
      .item-list.striped > li:nth-child(2n + 1) {
        background-color: #f8f9fb; } }
  .item-list.striped .item-list-footer {
    border-bottom: none; }

/* *******************************************
*      Item general styles
********************************************** */
.item-list .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.item-list .item-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-width: 100%; }
  .item-list .item-row.nowrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }

.item-list .item-col {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 10px 0;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -webkit-flex-shrink: 3;
      -ms-flex-negative: 3;
          flex-shrink: 3;
  margin-left: auto;
  margin-right: auto;
  min-width: 0; }
  .item-list .item-col.fixed {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .item-list .item-col.pull-left {
    margin-right: auto; }
  .item-list .item-col.pull-right {
    margin-left: auto; }
  .item-list .item-col > div {
    width: 100%; }
  .item-list .item-col:last-child {
    padding-right: 0; }

.item-list .no-overflow {
  overflow: hidden; }

.item-list .no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* *******************************************
*        Item components
********************************************** */
.item-list {
  /********************************************
  *          Header
  *********************************************/
  /********************************************
  *          Heading
  *********************************************/
  /********************************************
  *          Checkbox
  *********************************************/
  /********************************************
  *          Image
  *********************************************/
  /********************************************
  *          Title
  *********************************************/
  /********************************************
  *          Stats
  *********************************************/
  /********************************************
  *             Actions
  *********************************************/
  /********************************************
  *         Something else?
  *********************************************/ }
  .item-list .item-list-header .item-col.item-col-header span {
    color: #999;
    font-size: 0.8rem;
    font-weight: 700 !important; }
  .item-list .item-heading {
    font-size: 0.9rem;
    display: none;
    color: #666;
    font-weight: 700;
    padding-right: 10px; }
    @media (max-width: 767px) {
      .item-list .item-heading {
        display: block; } }

@media (min-width: 544px) and (max-width: 767px) {
  .item-list .item-heading {
    width: 100%; } }
    @media (max-width: 543px) {
      .item-list .item-heading {
        width: 40%; } }
  .item-list .item-col.item-col-check {
    -webkit-flex-basis: 40px;
        -ms-flex-preferred-size: 40px;
            flex-basis: 40px; }
    @media (max-width: 767px) {
      .item-list .item-col.item-col-check {
        -webkit-box-ordinal-group: -7;
        -webkit-order: -8;
            -ms-flex-order: -8;
                order: -8; } }
  .item-list .item-check {
    margin-bottom: 0; }
    .item-list .item-check .checkbox + span {
      padding-right: 0; }
      .item-list .item-check .checkbox + span:before {
        width: 20px; }
  .item-list .item-col.item-col-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 70px;
        -ms-flex-preferred-size: 70px;
            flex-basis: 70px; }
    .item-list .item-col.item-col-img .canceled {
      color: #FF6C39;
      margin: auto;
    }
    .item-list .item-col.item-col-img .completed {
      color: #71BA51;
      margin: auto;
    }
    .item-list .item-col.item-col-img .error {
      color: #E22211;
      margin: auto;
    }
    .item-list .item-col.item-col-img .interrupted {
      color: #FF9A43;
      margin: auto;
    }
    .item-list .item-col.item-col-img .pending {
      color: #FFBD4B;
      margin: auto;
    }
    .item-list .item-col.item-col-img .running {
      color: #3D8EB9;
      margin: auto;
    }
    .item-list .item-col.item-col-img .waiting {
      color: #7F6B4B;
      margin: auto;
    }
    .item-list .item-col.item-col-img.xs {
      -webkit-flex-basis: 40px;
          -ms-flex-preferred-size: 40px;
              flex-basis: 40px; }
    .item-list .item-col.item-col-img.sm {
      -webkit-flex-basis: 50px;
          -ms-flex-preferred-size: 50px;
              flex-basis: 50px; }
    .item-list .item-col.item-col-img.lg {
      -webkit-flex-basis: 100px;
          -ms-flex-preferred-size: 100px;
              flex-basis: 100px; }
    .item-list .item-col.item-col-img.xl {
      -webkit-flex-basis: 120px;
          -ms-flex-preferred-size: 120px;
              flex-basis: 120px; }
    .item-list .item-col.item-col-img a {
      width: 100%; }
  .item-list .item-img {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    background-color: #efefef;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .item-list .item-col.item-col-title {
      -webkit-box-ordinal-group: -3;
      -webkit-order: -4;
          -ms-flex-order: -4;
              order: -4; } }
  .item-list .item-col.item-col-title a {
    display: block; }
  .item-list .item-title {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: 600; }
  .item-list .item-stats {
    height: 1.4rem; }
  .item-list .item-col.item-col-actions-dropdown {
    -webkit-flex-basis: 40px;
        -ms-flex-preferred-size: 40px;
            flex-basis: 40px;
    text-align: center;
    padding-left: 0 !important; }
    @media (max-width: 767px) {
      .item-list .item-col.item-col-actions-dropdown {
        -webkit-box-ordinal-group: -2;
        -webkit-order: -3;
            -ms-flex-order: -3;
                order: -3;
        -webkit-flex-basis: 40px !important;
            -ms-flex-preferred-size: 40px !important;
                flex-basis: 40px !important;
        padding-right: 10px; } }
  .item-list .item-actions-dropdown {
    position: relative;
    font-size: 1.1rem; }
    .item-list .item-actions-dropdown.active .item-actions-block {
      max-width: 120px; }
    .item-list .item-actions-dropdown.active .item-actions-toggle-btn {
      color: #4bcf99; }
      .item-list .item-actions-dropdown.active .item-actions-toggle-btn .active {
        display: block; }
      .item-list .item-actions-dropdown.active .item-actions-toggle-btn .inactive {
        display: none; }
    .item-list .item-actions-dropdown .item-actions-toggle-btn {
      color: #9ba8b5;
      font-size: 1.2rem;
      cursor: pointer;
      width: 100%;
      line-height: 30px;
      text-align: center;
      text-decoration: none; }
      .item-list .item-actions-dropdown .item-actions-toggle-btn .active {
        display: none; }
    .item-list .item-actions-dropdown .item-actions-block {
      height: 30px;
      max-width: 0px;
      line-height: 30px;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 100%;
      background-color: #d7dde4;
      border-radius: 3px;
      -webkit-transition: all 0.15s ease-in-out;
              transition: all 0.15s ease-in-out; }
      .item-list .item-actions-dropdown .item-actions-block.direction-right {
        right: auto;
        left: 100%; }
      .item-list .item-actions-dropdown .item-actions-block .item-actions-list {
        padding: 0;
        list-style: none;
        white-space: nowrap;
        padding: 0 5px; }
        .item-list .item-actions-dropdown .item-actions-block .item-actions-list li {
          display: inline-block;
          padding: 0; }
        .item-list .item-actions-dropdown .item-actions-block .item-actions-list a {
          display: block;
          padding: 0 5px; }
          .item-list .item-actions-dropdown .item-actions-block .item-actions-list a.edit {
            color: #38424C; }
          .item-list .item-actions-dropdown .item-actions-block .item-actions-list a.check {
            color: #40B726; }
          .item-list .item-actions-dropdown .item-actions-block .item-actions-list a.remove {
            color: #DB0E1E; }

/*****************************************
*       Background-image: cover mixin
******************************************/
/*****************************************
*       Media Query Mixins
******************************************/

.items-list-page .title-search-block {
  position: relative; }

@media (max-width: 767px) {
  .items-list-page .title-block {
    padding-bottom: 10px;
    margin-bottom: 13px; } }

.items-list-page .title-block .action {
  display: inline; }
  .items-list-page .title-block .action a {
    padding: 10px 15px; }
    .items-list-page .title-block .action a .icon {
      margin-right: 5px;
      text-align: center;
      width: 16px; }
  @media (max-width: 767px) {
    .items-list-page .title-block .action {
      display: none; } }

.items-list-page .items-search {
  position: absolute;
  margin-bottom: 15px;
  right: 0;
  top: 0; }
  @media (max-width: 767px) {
    .items-list-page .items-search {
      position: static; } }
  .items-list-page .items-search .search-button {
    margin: 0; }

.items-list-page .item-list .item-col.item-col-check {
  text-align: left; }

.items-list-page .item-list .item-col.item-col-img {
  text-align: center;
  width: auto;
  text-align: center;
  -webkit-flex-basis: 70px;
      -ms-flex-preferred-size: 70px;
          flex-basis: 70px; }
  @media (min-width: 544px) {
    .items-list-page .item-list .item-col.item-col-img:not(.item-col-header) {
      height: 80px; } }

.items-list-page .item-list .item-col.item-col-title {
  text-align: left;
  margin-left: 0 !important;
  margin-right: auto;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 9;
  -webkit-flex-grow: 9;
      -ms-flex-positive: 9;
          flex-grow: 6; }

.items-list-page .item-list .item-col.item-col-sales {
  text-align: right;
  font-weight: 600; }

.items-list-page .item-list .item-col.item-col-id {
  text-align: center;
  font-weight: 600; }

.items-list-page .item-list .item-col.item-col-stats {
  text-align: center; }

.items-list-page .item-list .item-col.item-col-id {
  text-align: center;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.items-list-page .item-list .item-col.item-col-category {
  text-align: left;
  font-weight: 600; }

.items-list-page .item-list .item-col.item-col-author {
  text-align: left;
  -webkit-box-flex: 4.5;
  -webkit-flex-grow: 4.5;
      -ms-flex-positive: 4.5;
          flex-grow: 4.5; }

.items-list-page .item-list .item-col.item-col-date {
  text-align: right; }

@media (max-width: 767px) {
  .items-list-page .card.items {
    background: none;
    box-shadow: none; }
  .items-list-page .item-list .item {
    border: none;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1); }
  .items-list-page .item-list .item-row {
    padding: 0 !important; }
  .items-list-page .item-list .item-col.item-col-author {
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
            flex-grow: 3; } }

@media (min-width: 544px) and (max-width: 767px) {
  .items-list-page .item-list .item {
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1); }
  .items-list-page .item-list .item-row {
    padding: 0; }
  .items-list-page .item-list .item-heading {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    line-height: 40px;
    padding-left: 0; }
  .items-list-page .item-list .item-col.item-col-check, .items-list-page .item-list .item-col.item-col-title, .items-list-page .item-list .item-col.item-col-actions-dropdown {
    border-bottom: 1px solid #d7dde4; }
    .items-list-page .item-list .item-col.item-col-check .item-heading, .items-list-page .item-list .item-col.item-col-title .item-heading, .items-list-page .item-list .item-col.item-col-actions-dropdown .item-heading {
      display: none; }
  .items-list-page .item-list .item-col.item-col-sales, .items-list-page .item-list .item-col.item-col-id, .items-list-page .item-list .item-col.item-col-stats, .items-list-page .item-list .item-col.item-col-category, .items-list-page .item-list .item-col.item-col-author, .items-list-page .item-list .item-col.item-col-date {
    padding-top: 40px;
    position: relative; }
  .items-list-page .item-list .item-col.item-col-check {
    display: none; }
  .items-list-page .item-list .item-col.item-col-title {
    padding-left: 10px;
    text-align: left;
    margin-left: 0 !important;
    margin-right: auto;
    -webkit-flex-basis: calc(100% - 40px);
        -ms-flex-preferred-size: calc(100% - 40px);
            flex-basis: calc(100% - 40px); }
  .items-list-page .item-list .item-col.item-col-img {
    padding-left: 10px;
    -webkit-flex-basis: 79px;
        -ms-flex-preferred-size: 79px;
            flex-basis: 79px; }
  .items-list-page .item-list .item-col.item-col-sales {
    text-align: left; }
  .items-list-page .item-list .item-col.item-col-stats {
    text-align: center; }
  .items-list-page .item-list .item-col.item-col-id {
    text-align: center; }
  .items-list-page .item-list .item-col.item-col-category {
    text-align: center; }
  .items-list-page .item-list .item-col.item-col-author {
    text-align: center; }
  .items-list-page .item-list .item-col.item-col-date {
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;
    -webkit-flex-basis: 100px;
        -ms-flex-preferred-size: 100px;
            flex-basis: 100px;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
            flex-grow: 3; } }

@media (max-width: 543px) {
  .items-list-page .item-list .item {
    border: none;
    font-size: 0.9rem;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1); }
    .items-list-page .item-list .item .item-col {
      text-align: right;
      border-bottom: 1px solid #d7dde4;
      padding-left: 10px; }
      .items-list-page .item-list .item .item-col[class^=item-col] {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; }
      .items-list-page .item-list .item .item-col.item-col-check {
        display: none; }
      .items-list-page .item-list .item .item-col.item-col-img .item-img {
        padding-bottom: 65%; }
      .items-list-page .item-list .item .item-col.item-col-title {
        text-align: left;
        padding-bottom: 0;
        border: none;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
                flex-basis: 0; }
        .items-list-page .item-list .item .item-col.item-col-title .item-heading {
          display: none; }
        .items-list-page .item-list .item .item-col.item-col-title .item-title {
          font-size: 1rem;
          line-height: 1.4rem; }
      .items-list-page .item-list .item .item-col.item-col-actions-dropdown {
        border: none;
        padding-bottom: 0; }
      .items-list-page .item-list .item .item-col.item-col-sales {
        text-align: left; }
      .items-list-page .item-list .item .item-col.item-col-stats {
        text-align: left; }
      .items-list-page .item-list .item .item-col.item-col-id {
        text-align: center; }
      .items-list-page .item-list .item .item-col.item-col-category {
        text-align: left; }
      .items-list-page .item-list .item .item-col.item-col-author {
        text-align: left; }
      .items-list-page .item-list .item .item-col.item-col-date {
        text-align: left; }

