.__landing-page {
  .navbar {
    margin-bottom: 0;
    background-color: #fff;
    padding: 0px;
    border-bottom: 1px solid #e4e4e4;
    li {
      color: #666;
    }
  }
  button {
    font-weight: 400;
    color: #fff;
    transition: all 0.2s linear;
  }
  a {
    transition: all 0.2s linear;
  }
  .navbar-brand {
    width: 130px;
    padding-top: 1.1rem;
    height: auto;
    color: rgba(0, 0, 0, .8);
    .lemonade-logo {
      height: 40px;
    }
  }

  #main-menu ul {
    > li > a {
      background: transparent !important;
      color: #333;
      position: relative;
      padding: 28px 20px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
  .bgimg {
    min-height: 400px;
    margin-top: 74px;
    background-image: url('/assets/images/lemon.jpg');
  }

  .section {
    padding: 80px 0;
  }

  .section-title {
    text-align: center;
    font-size: 38px;
    line-height: 40px;
    color: #000;
    font-family: 'Muli', sans-serif;
    padding: 10px 0;
  }
  .section-subcontent {
    text-align: center;
    padding-bottom: 30px;
  }
  p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .service-item {
    text-align: center;
  }
  .service-item h2 {
    margin-bottom: 15px;
    font-size: 22px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  h1, h2, h3, h4 {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
  }
  #other-services .nav-tabs {
    border-bottom: none;
    float: left;
  }
  #other-services .nav-tabs li {
    float: none;
  }
  ul.nav-tabs li {
    float: left;
    margin-top: 0;
  }
  #other-services .nav-tabs li a {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
  }
  ul.nav-tabs li a {
    border: medium none !important;
    color: #a0a0a0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 10px 15px;
  }
  #other-services .nav-tabs li a i {
    background: #81868e;
    font-size: 20px;
    text-align: center;
    color: #fff;
    float: left;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    line-height: 50px;
    margin: 10px 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #other-services .nav-tabs li a:hover i, #other-services .nav-tabs li a:focus, #other-services .nav-tabs li a.active i {
    background: #9C3 none repeat scroll 0 0;
  }

  #other-services .tab-content {
    margin: 10px 0px 0px 80px;
  }
  #other-services img {
    max-width: 100%;
    padding: 22px;
  }
  #other-services .service-content p.lead {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .column {
    float: left;
    margin-left: 25px;
    a {
      color: #9C3;
    }
  }
  #team {
    text-align: center;
    img {
      height: 10vh;
      max-height: 70px;
    }
  }
  .btn-lndg-pg, button {
    text-decoration: none !important;
    background: #3a4651 none repeat scroll 0 0;
    color: $color-light ;
    padding: 7px 30px;
    font-weight: 400;
    font-size: 13px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    border-radius: 0;
    margin-bottom: 5px;
  }

  .btn-lndg-pg:hover, button:hover {
    color: $color-text-lighter;
    font-weight: 500;
  }
  .btn-common {
    position: relative;
    border: transparent;
    z-index: 1;

    &:before {
      background: $color-lighter none repeat scroll 0 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      z-index: -1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }

    &:hover:before {
      color: $color-darker !important;
      width: 100%;
    }
  }

  .btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    ul.nav-tabs li a {
      font-size: 11px;
    }
    .service-item h2 {
      font-size: 15px !important;
    }
    #main-menu ul > li > a {
      font-size: 10px;
      padding: 28px 8px;
    }
    .section-title {
      font-size: 24px !important;
    }
  }

  @-webkit-keyframes MenuFadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes MenuFadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .nav-inline .nav-item + .nav-item {
    margin-left: 0px;
  }

  @-webkit-keyframes fadeInUpMenu {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  @keyframes fadeInUpMenu {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes fadeInUpMenu {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  @keyframes fadeInUpMenu {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}
