#main-wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main-wrapper.toggled {
  padding-left: $main-sidebar-toggled;
}
@media(min-width:768px) {
  #main-wrapper {
    padding-left: 0px;
  }

  #main-wrapper.toggled {
    padding-left: $main-sidebar-toggled;
  }
}

