@import 'dimensions.scss';

#main-content-wrapper {
    position: relative;
    margin-left: $main-sidebar;
}

#main-wrapper.toggled #main-content-wrapper {
    position: relative;
    margin-left: 0px;
}

