@import "theme-color.scss";

.card > .item-list .item > .item-row {
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .card > .item-list .item > .item-row {
  }
}

@media (max-width: 767px) {
  .card > .item-list .item > .item-row {
    padding: 0 10px;
  }
}

a:not(.btn) {
  -webkit-transition: initial;
  transition: initial;
  color: #969696;

  &:hover {
    color: $main-theme-green;

    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  &:focus {
    text-decoration: none;
  }
}

span a {
  vertical-align: text-bottom;
}

.page-number {
  display: inline;
}

.arrow {
  display: inline;
}
.modal {
  .modal-content { border-radius: 0; }
  .modal-header {
    background-color:#333333;
    color: #ffffff;
  }
  .modal-footer {
    .btn { margin-bottom: 0; }
  }
}

#confirm-modal.show {
  display: block;
  opacity: 1;
}

.modal-body.modal-tab-container {
  padding: 0;

  .modal-tabs {
    padding-left: 0;
    margin-bottom: 0;
    list-style:none;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

    .nav-link {
      padding:10px 20px;
      border: none;

      &:hover,
      &.active
      {
        color: #333333;
        border-bottom: 2px solid #333333;
      }

      &.active
      {
        font-weight: 600;
      }
    }
  }
}

.pagination {
  text-align: right !important;
  margin-top: 0;
  margin-right: 10px;
  display: inline;

  .page-number {
    .page-link {
      color: $main-theme-green;
    }

    &.active .page-link {
      color: #fff;
      border-color: $main-theme-green;
      background-color: $main-theme-green;

      &:focus, &:hover {
        color: #fff;
        border-color: $main-theme-green;
        background-color: $main-theme-green;
      }
    }
  }
}

/* Let's get this party started */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 0;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: $main-theme-hover-green;

  &:window-inactive {
    background: $main-theme-green;
  }
}

.table {
  label {
    margin-bottom: 0;
  }

  .checkbox + span {
    margin-bottom: 0;

    &:before {
      line-height: 20px;
    }
  }
}

.row .col {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left;
}

.row-sm {
  margin-left: -10px;
  margin-right: -10px;

  [class^='col'] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.title-block {
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d7dde4;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 767px) {
  .title-block {
    margin-bottom: 20px;
  }
}

.subtitle-block {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #e0e5ea;
}

.section {
  display: block;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.box-placeholder {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px dashed #ddd;
  background: #fafafa;
  color: #444;
  cursor: pointer;
}

.underline-animation {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $main-theme-green;
  content: '';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.stat-chart {
  border-radius: 50%;
}

.stat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-right: 10px;

  .value {
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.lg {
    .value {
      font-size: 26px;
      line-height: 28px;
    }

    .name {
      font-size: 16px;
    }
  }
}

.list-icon [class^='col'] {
  cursor: pointer;

  em {
    font-size: 14px;
    width: 40px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    line-height: 30px;
  }

  &:hover em {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
  }
}

.well {
  background-image: none;
  background-color: #fff;
}

.jumbotron {
  background-image: none;
  background-color: #fff;
  padding: 15px 30px;

  &.jumbotron-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-l {
  border-radius: 0.3rem;
}

.rounded-s {
  border-radius: 0.2rem;

  &.play {
    background-color: #6DD66E;
    border-color: #6DD66E;

    &:hover {
      background-color: #68C184;
    }
  }

  &.pause {
    background-color: #74BFAD;
    border-color: #74BFAD;

    &:hover {
      background-color: #6BC6B0;
    }
  }

  &.stop {
    background-color: #C91808;
    border-color: #C91808;

    &:hover {
      background-color: #CC2614;
    }
  }
}

.jqstooltip {
  height: 25px !important;
  width: auto !important;
  border-radius: 0.2rem;
}

.title {
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 0;

  &.l {
    font-size: 1.6rem;
  }

  &.s {
    font-size: 1.4rem;
  }
}

.card .title {
  font-size: 1.1rem;
  color: #4f5f6f;
}

.title-description {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  color: #7e8e9f;

  &.s {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .title-description {
    display: none;
  }
}

.subtitle {
  font-size: 1.2rem;
  margin: 0;
  color: #7e8e9f;
}

.text-primary {
  color: $main-theme-green;
}

.text-muted {
  color: #9ba8b5;
}

pre {
  padding: 0;
  border: none;
  background: none;
}
