@import "theme-color.scss";

[class^='nav'] li > a, [class*=' nav'] li > a {
  display: block;
}

[class^='nav'] li > a:before, [class*=' nav'] li > a:before {
  display: none;
}

.nav {
  &.nav-tabs-bordered {
    border-color: $main-theme-green;

    + .tab-content {
      border-style: solid;
      border-width: 0 1px 1px 1px;
      border-color: $main-theme-green;
      padding: 10px 20px 0;
    }

    .nav-item .nav-link {
      text-decoration: none;

      &:hover {
        color: #ffffff;
        background-color: $main-theme-green;
        border: 1px solid $main-theme-green;
      }

      &.active {
        border-color: $main-theme-green;
        border-bottom-color: transparent;

        &:hover {
          background-color: #ffffff;
          color: inherit;
        }
      }
    }
  }

  &.nav-pills {
    + .tab-content {
      border: 0;
      padding: 5px;
    }

    .nav-item .nav-link {
      text-decoration: none;

      &:hover {
        color: #4f5f6f;
        background-color: transparent;
        border: 0;
      }

      &.active {
        border-color: $main-theme-green;
        border-bottom-color: transparent;
        background-color: $main-theme-green;

        &:hover {
          background-color: $main-theme-green;
          color: #ffffff;
        }
      }
    }
  }
}
