#page-content-wrapper {
  width: 100%;
  height: -webkit-calc(100vh - #{$app-header-height});
  height: -moz-calc(100vh - #{$app-header-height});
  height: calc(100vh - #{$app-header-height});
  z-index: 300;
  overflow: auto;
}

.content-title{
  margin-top: 15px;
  margin-left: 15px;
}

.content.item-editor-page{
  padding: 10px 20px;
}
