.ps:hover {
  .ps__rail-y, .ps__rail-x {
    opacity: 0.9
  }
}

.ps__thumb-y, .ps__thumb-x {
  background: $color-base;
  border-radius: 0 !important;
}

.ps__rail-y, .ps__rail-x {
  background-color: $color-scrollbar-track !important;
  &:hover {
    opacity: 1;
    .ps__thumb-y, .ps__thumb-x {
      background: $color-dark;
    }
  }
}

.ps__rail-y {
  width: 7px !important;
  .ps__thumb-y {
    width: 7px !important;
    right: 0;
  }
}

.ps__rail-x {
  height: 7px !important;
  .ps__thumb-x {
    height: 7px !important;
    bottom: 0;
  }
}
