.ps__rail-y {
  background-color: $color-base !important;
  width: 10px !important;
  .ps__thumb-y {
    background-color: $color-dark !important;
    border-radius: 0 !important;
    width: 6px !important;
  }
}

.ps__rail-x {
  background-color: $color-base !important;
  height: 10px !important;
  .ps__thumb-x {
    background-color: $color-dark !important;
    border-radius: 0 !important;
    height: 6px !important;
  }
}
