@import "theme-color.scss";

.sidebar {
  background-color: #3a4651;
  width: 230px;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 20;
}

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    left: -250px;
  }
}

.sidebar-fixed .sidebar {
  position: fixed;
}

.sidebar-open .sidebar {
  left: 0;
}

.sidebar {
  .sidebar-container {
    position: absolute;
    top: 0;
    bottom: 51px;
    width: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      background-color: #2c353e;
    }
  }

  .nav {
    font-size: 14px;

    li a:focus {
      background-color: inherit;
    }
  }
}

.open .sidebar .nav li a:focus {
  background-color: inherit;
}

.sidebar .nav ul {
  padding: 0;
  overflow: hidden;
}

.loaded .sidebar .nav ul {
  height: auto;
}

.sidebar .nav {
  li {
    &.active ul {
      height: auto;
    }

    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;

      &:hover {
        color: #ffffff;
        background-color: #2d363f;
      }
    }

    &.open {
      > a, a:hover {
        color: #ffffff;
        background-color: #2d363f;
      }
    }
  }

  > li {
    > a {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 10px;
    }

    &.active > a {
      background-color: $main-theme-color !important;
      color: #ffffff !important;

      &:hover {
        background-color: $main-theme-color !important;
        color: #ffffff !important;
      }
    }

    &.open > a {
      background-color: #333e48;

      i.arrow {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    > {
      a i {
        margin-right: 5px;
        font-size: 16px;

        &.arrow {
          float: right;
          font-size: 20px;
          line-height: initial;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;

          &:before {
            content: "\f105" !important;
          }
        }
      }

      ul > li {
        a {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          background-color: #333e48;
        }

        &.active a {
          color: #ffffff;
        }
      }
    }
  }
}

.sidebar-overlay {
  position: absolute;
  display: none;
  left: 200vw;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 15;
}

@media (max-width: 991px) {
  .sidebar-overlay {
    display: block;
  }
}

@media (max-width: 767px) {
  .sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 991px) {
  .sidebar-open .sidebar-overlay {
    left: 0;
    opacity: 1;
  }
}
