.table-paginate {
  float: right;
  margin-bottom: 30px;
  text-decoration: none;

  .pagination {
    list-style: none;
    display: -webkit-inline-box;
  }

  li {
    color: $color-base;

    &:hover {
      color: $color-dark;
    }

    a {
      text-decoration: none;
      color: $color-base;

      &:hover {
        color: $color-dark;
        background-color: rgba($color-lighter, 0.5);
      }
    }
  }
}
