@import 'variables.scss';

$main-theme-green: #85CE36;
$main-theme-hover-green:#78bd2e;
$main-theme-grey: #2f3840;
$main-theme-dark-green: #598629;
$btn-primary-bg: $theme-green;
$btn-primary-border: $theme-green;
$btn-primary-bg-hover: $theme-green-hover;
$btn-primary-border-hover: $theme-green-hover;


/* applying adptive color theme */
$color-lighter: #94E0B0;
$color-light: #61D095;
$color-base: #48BF84;
$color-dark: #439775;
$color-darker: #2A4747;

$color-text-lighter: #FDFCFA;
$color-text-light: #EAE0CC;;
$color-text-base: #788475;
$color-text-dark: #504b45;
$color-text-darker: #1A1A1A;

$color-scrollbar-track: #CCCFD1;

$color-execute: #6DD66E;
$color-execute-light: #179318;
$color-stop: #D60015;
$color-stop-light: #E5323B;
$color-log: #e6ac00;
$color-log-light: #ffbf00;
$color-pause: #74BFAD;
$color-pause-light: #0b6c54;

$color-canceled: #FF6C39;
$color-completed: #71BA51;
$color-error: #E22211;
$color-interrupted: #FF9A43;
$color-pending: #FFBD4B;
$color-running: #3D8EB9;
$color-waiting: #7F6B4B;


$color-data: #274690;
$color-iregressionalgorithm: #F47E3E;
$color-iregressionmodel: #F26419;
$color-irecommendationalgorithm: #B2FFA9;
$color-irecommendationmodel: #75ff66;
$color-classificationalgorithm: #f8a0cb;
$color-classificationmodel: #F686BD;
$color-iclusteringalgorithm: #87D1F0;
$color-iclusteringmodel: #5BC0EB;
$color-transformationmodel: #77617E;
$color-indexermodel: #513A5A;
$color-visualization: #47E5BC;
$color-ivocabulary: #D5BBB1;
$color-ilistofmachinelearningmodels: #710627;
$color-lshmodel: #E9D985;
$color-machinelearningmodel: #679436;
$color-modelwithevaluation: #947EB0;

$color-data: $color-lighter;
$color-iregressionalgorithm: $color-lighter;
$color-iregressionmodel: $color-lighter;
$color-irecommendationalgorithm: $color-lighter;
$color-irecommendationmodel: $color-lighter;
$color-classificationalgorithm: $color-lighter;
$color-classificationmodel: $color-lighter;
$color-iclusteringalgorithm: $color-lighter;
$color-iclusteringmodel: $color-lighter;
$color-transformationmodel: $color-lighter;
$color-indexermodel: $color-lighter;
$color-visualization: $color-lighter;
$color-ivocabulary: $color-lighter;
$color-ilistofmachinelearningmodels: $color-lighter;
$color-lshmodel: $color-lighter;
$color-machinelearningmodel: $color-lighter;
$color-modelwithevaluation: $color-lighter;
