@import 'variables.scss';

$main-theme-green: #85CE36;
$main-theme-hover-green:#78bd2e;
$main-theme-grey: #2f3840;
$main-theme-dark-green: #598629;
$btn-primary-bg: $theme-green;
$btn-primary-border: $theme-green;
$btn-primary-bg-hover: $theme-green-hover;
$btn-primary-border-hover: $theme-green-hover;


/* applying adptive color theme */
$color-lighter: #94E0B0;
$color-light: #61D095;
$color-base: #48BF84;
$color-dark: #439775;
$color-darker: #2A4747;
$color-text-light: white;
$color-text-dark: black;

