// White
$full-white:  #FFF;
$very-light-white: #F9F9F9;
$light-white: #F5F5F5;
$middle-white: #eee;
$dark-white: #ddd;
$full-dark-white: #ccc;

// Gray
$full-gray: #111;
$dark-gray: #434343;
$icon-gray: #676a6c;
$middle-gray: #999;
$light-gray: #bbb;

// Green
$vivid-green: #1ab394;
$theme-green: #70b327;
$theme-green-hover: #78bd2e;

// Blue
// Left menu colors
$light-blue: #2F4050;
$dark-blue:  #293846;

// Borders Colors
$border-light-gray: #e7eaec;

// Template colors
$danger-bg: #ec4758;
$danger-border: #ec4758;
$info-bg: #21b9bb;
$info-border: #21b9bb;
$warning-bg: #f7a54a;
$warning-border: #f7a54a;
$primary-bg: #18a689;
$primary-border: #18a689;
$success-bg: #1a7bb9;
$success-border: #1a7bb9;

// Lynx Colors
$lynx-red-light: #e02332;
$lynx-red: #a70214;

// Bid colors
$bid1: #a70214;
$bid2: #CA0F08;
$bid3: #ED2A0C;
$bid4: #F95A01;
$bid5: #FF9900;

// Ask colors
$ask1: #014347;
$ask2: #01727A;
$ask3: #0296A1;
$ask4: #3ABDC3;
$ask5: #1EE6D3;
