svg.bar-chart {
  .x.axis, .y.axis {
    text { font-size: 9px; font-weight: 400; letter-spacing: 1px;  fill: #666; }
    line { fill: none; stroke-width: 2px; stroke: $full-white; stroke-opacity: 1; shape-rendering: crispEdges; }
    path { fill: none; stroke-width: 2px; stroke: $full-white; stroke-opacity: 1; shape-rendering: crispEdges; }
  }
  .y.axis {
    text { font-size: 10px; font-weight: 600; letter-spacing: 1px;  fill: #999; }
    line { fill: none; stroke-width: 2px; stroke: $full-white; stroke-opacity: 1; shape-rendering: crispEdges; }
    path { fill: none; stroke-width: 2px; stroke: $full-white; stroke-opacity: 1; shape-rendering: crispEdges; }
  }
  .bar  { stroke: $light-white; stroke-width: 1px; fill-opacity: .6; }
  .bg-rect { fill: $template-white; fill-opacity: 1; }
}
