& {
  .card-block {
    overflow: auto;
    padding: 5px 20px;
  }
  .table {
    th {
      text-align: center;
    }
    a {
      color: $color-text-dark;
      cursor: pointer;
      &:hover {
        color: $color-light;
      }
    }
    thead {
      th {
        border-top-color: rgba(0,0,0,0);
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: rgba($color-base, 0.2);
        }
      }
      td {
        text-align: center;
        vertical-align: middle;
        &.__status {
          padding:0;
        }
        .__icon{
          margin-right: 5px;
          font-size: 0.8rem;
          &.big {
            vertical-align: middle;
            font-size: 1.2rem;
          }
        }
      }

      .icons {
        min-width: 3em;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
