{{main-sidebar workflowActive='active'}}
<article class="content items-list-page">
  {{workflows.button-bar}}
  <div class="card items">
    <ul class="item-list striped">
      {{table-workflow workflows=model}}
    </ul>
  </div>
</article>
{{outlet}}
