<section class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 name-editor">
  {{option-bar/name-editor workflow=workflow }}
</section>
<section class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-2 option-bar">
  {{option-bar/option-buttons workflow=workflow hasChanged=hasChanged alert=alert}}
</section>
<section class="col-xs-12  col-sm-12 col-md-6 col-lg-3 col-xl-3 execute-bar">
    <a onclick={{action 'play'}} class="play btn btn-md rounded-s	execute-bar execute-btn">
      <i class="fa fa-play"></i> Execute
    </a>
</section>
