<div id="flash" class="alert alert-info" style="margin-left:10px; margin-right:20px;">
  <span></span>
</div>

{{#bs-modal open=modal3 size=size fade=fade backdrop=false workflow=workflow backdropClose=true onSubmit=(action "submit") onHidden=(action (mut modal3) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Deleting marked workflows
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    Are you sure, that you want to delete these workflows?
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button type="success" onClick=(action 'submit' toDelete)}}Delete{{/bs-button}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
<div class="row">
  <div class="col-xs-3 title-block">
    <h3 class="title"> <i class="fa fa-flask"></i> Workflows
    </h3>
    <p class="title-description"> List of all workflows - e.g. owned, shared,  etc... </p>
  </div>
  <div class="col-xs-4 buttons-menu">
    {{#link-to 'workflow.new' class="create-new btn"}} Create new {{/link-to}}
    <div class="action dropdown ">
      <a class="btn dropdown-toggle" data-toggle="dropdown" >More actions...</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" {{action 'deleteWorkflows'}} href="#"><i class="fa fa-trash-o icon"></i>Delete</a>
      </div>
    </div>
  </div>
  <div class="col-xs-5 search-bar">
    <div class="pull-right items-search">
      <form onsubmit="return false" class="form-inline">
        <div class="input-group">
          <input id="input" type="text" class="form-control boxed " placeholder="Search for...">
          <span class="input-group-btn">
            <button id="submit" class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div><!-- row -->
