<div class="lemonade-container" id="lemonade-container">
  {{workflows/workflow-diagram
  workflow=workflow
  operations=operations
  forms=forms
  task=task
  filledForms=filledForms
  hasChanged=hasChanged}}
</div>
{{workflows/workflow-forms
task=task
workflow=workflow
forms=forms
filledForms=filledForms
hasChanged=hasChanged}}
