<div class="input-group">
  <label class="input-group-btn">
    <span class="btn btn-primary">
      Browse… <input type="file" style="display: none;" multiple="">
    </span>
  </label>
  <input type="text" class="form-control" readonly="">
</div>
