<div id="dropzone" class="dropzone">
  <i class="fa fa-cloud-upload fa-4x icon"></i>
  <button id="browseButton" class='btn btn-primary'>
    <i class="fa fa-plus"></i> {{t 'datasources.upload.chooseButton'}}
  </button>
  <p>{{t 'datasources.upload.dropzone'}}</p>
</div>

