<div class="item-row">
  <div class="item-col fixed item-col-check">
    <label class="item-check" id="select-all-items">
      <input type="checkbox" class="checkbox">
      <span></span>
    </label>
  </div>
  <div class="item-col item-col-header fixed item-col-img md">
    <div>
      <span>Logo</span>
    </div>
  </div>
  <!--
  <div class="item-col item-col-header item-col-id">
    <div>
      <span>ID</span>
    </div>
  </div>
  -->
  <div class="item-col item-col-header item-col-title">
    <div>
      <span>Name</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-size">
    <div class="no-overflow">
      <span>Size</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-type">
    <div class="no-overflow">
      <span>Type</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-category">
    <div class="no-overflow">
      <span>Group</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-author">
    <div class="no-overflow">
      <span>Author</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-date">
    <div>
      <span>Created</span>
    </div>
  </div>
  <div class="item-col item-col-header fixed item-col-actions-dropdown">
  </div>
</div>
