.scale-wrapper {
  .legend-left {

  }

  .scale-rect {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
  }

  .legend-right {
    margin-left: 30px;

  }
}

.full-height {
  height: 100%;
}
