<div id="job-diagram-container-wrapper" class="container-fluid toggled">
  {{jobs/option-bar class="job-option-bar row" job=model.job}}
  {{jobs/job-container-diagram class="draw jobs-screen" id="job-container-diagram" workflow=model.job.workflow stepsLogs=stepsLogs steps=model.job.steps job=model.job operations=model.operations}}
 </div> <!-- class=container-->
