<article class="content dashboard-page">
  <div class="drawer container-fluid">
    {{jobs/option-bar job=model.job}}
    <div class="row">
      {{jobs/job-container workflow=model.job.workflow jobId=model.job.id jobStatus=model.job.status steps=model.job.steps job=model.job operations=model.operations logTasks=logTasks}}
    </div>
  </div>
  <div class="logger container">
  </div>
</article>
