& {
  background-color: $color-darker;
  height: $app-header-height;
  width: 100%;
  .navbar {
    height: 100%;
    a {
      font-weight: bold;
      &.name#profileDropdown {
        color: $color-text-light;
      }
    }
    .dropdown-menu {
      a {
        padding-left: 10px;
        padding-right: 10px;
        color: $color-base;
        i {
          font-size: 1.2rem;
          margin-right: 3px;
        }
      }
      .dropdown-item:hover, .active {
        background-color: $color-base;
        color: $color-text-lighter;
        i {
          color: $color-text-lighter;
        }
      }
    }
  }
}
