& {
  .modal-dialog {
    max-width: 60vw;
  }

  form {
    textarea {
      resize: none;
    }
    .btn-secondary.check {
      height: 20px;
      width: 20px;
      margin: 0 5px 0 0;
      padding: 0;
      background: white;
      border-color: $color-darker;
      color: $color-darker;
      position: relative;

      i {
        top: -2px;
        position: relative;
        display: none;
      }
      &.true {
        i {
          display: block;
        }
      }
    }
    .logo {
      border: $input-border-width solid $input-border-color;
      border-radius: $btn-border-radius;
      height: 45px;
      width: 45px;
      margin: 0 2px 2px 0;
      cursor: pointer;
      &.selected {
        border: 2.5px solid $color-base;
      }
    }
    #edit {
      background-color: $color-base;
      border-color: $color-base;
      &:hover, &:focus {
        background-color: $color-lighter;
        border-color: $color-lighter;
      }
    }
    #cancel {
      background-color: $color-cancel;
      border-color: $color-cancel;
      &:hover, &:focus {
        background-color: $color-cancel-light;
        border-color: $color-cancel-light;
      }
    }
  }
}
