& {
  .modal-dialog {
    max-width: 60vw;
    min-width: 300px;
    .file-picker__dropzone {
      border-radius: 10px;
      text-align: center;
      height: auto;
      .__icon {
        display: block;
        color: $color-text-base;
        font-size: 4em;
      }
      .btn.btn-secondary#browseButton {
        margin-top: 10px;
        background: $color-base;
        border: $color-base;
        &:hover {
          background: $color-light;
          border: $color-light;
        }
        i {
          margin-left: 5px;
        }
      }
    }

  }

  form {
    textarea {
      resize: none;
    }
    .btn-secondary.check {
      height: 20px;
      width: 20px;
      margin: 0 5px 0 0;
      padding: 0;
      background: white;
      border-color: $color-darker;
      color: $color-darker;
      position: relative;

      i {
        top: -2px;
        position: relative;
        display: none;
      }
      &.true {
        i {
          display: block;
        }
      }
    }
    .logo {
      border: $input-border-width solid $input-border-color;
      border-radius: $btn-border-radius;
      height: 45px;
      width: 45px;
      margin: 0 2px 2px 0;
      cursor: pointer;
      &.selected {
        border: 2.5px solid $color-base;
      }
    }
    #create {
      background-color: $color-base;
      border-color: $color-base;
      &:hover, &:focus {
        background-color: $color-lighter;
        border-color: $color-lighter;
      }
    }
    #saveAs {
      background-color: $color-base;
      border-color: $color-base;
      &:hover, &:focus {
        background-color: $color-lighter;
        border-color: $color-lighter;
      }
    }
    #cancel {
      background-color: $color-cancel;
      border-color: $color-cancel;
      &:hover, &:focus {
        background-color: $color-cancel-light;
        border-color: $color-cancel-light;
      }
    }
  }
}
