& {
  .modal-content {
    min-width: 500px;
  }
  .select2 {
    width: 100% !important;
    .select2-selection--single {
      height: calc(2.25rem + 2px);
      display: block;
      width: 100%;
      padding: 0.1rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}
