& {
  background: white;
  position: relative;
  float: right;
  width: 300px;
  height: calc(100% - 45px);
  padding: 7px;
  font-size: 0.75em;
  border: 1px solid #ccc;

  .form-control {
    font-size: 1em;
    border-radius: 3px;

  }


  fieldset {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;



    legend {
      border: 0;
      font-size: 1.3em;
      font-weight: bold;
      margin: 5px 0 0 0;
      width: inherit;
    }
    .form-group {
      border: 1px solid #ccc;
      padding: 3px 4px 7px 4px;
      margin-bottom: 0.7em;
      &.title {
        border: none;
        padding: 0;
        margin: 0 0 0.7em 0;
        span {
          display: inline-block;
          border: 0;
          font-size: 1.3em;
          font-weight: bold;
          margin: 5px 0 0 0;
          width: inherit;
        }

        a.remove-task {
          background: none;
          border: none;
          color: $color-darker;
          height: 35px;
          width: 35px;
          padding: 1px 4.5px;
          display: inline-block;
          &:hover {
            background: $color-light;
          }
          cursor: pointer;
          i {
            font-size: 1.5rem;
          }
        }

      }

      p.title {
        padding: 0;
        margin: 0;

        .label {
          font-size: 1.1em;
          font-weight: 600;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: calc(100% - 30px);
          display: inline-block;
          cursor: default;
        }
        .fa-asterisk {
          font-size: 0.7em;
          vertical-align: top;
          margin-left: 1px;
          margin-top: 2px;
        }
        .fa-question-circle {
          font-size: 1.3em;
          margin: 1.5px 0 1.5px 0;
          cursor: help;
        }
      }
    }

  }

  /* Force select2 to use the same height as bootstrap */
  .select2-selection {
    border-radius: 3px;
  }
  .select2-selection__rendered {
    line-height: 1.8 !important;
  }
  .select2-container .select2-selection--single{
    height: calc(2.5rem - 2px) !important;
  }
  .select2-selection__choice {
    border-radius: 3px !important;
  }

  ::-webkit-input-placeholder { /* Chrome, Safari */
    color: $color-text-base;
  }

  :-moz-placeholder {           /* Firefox 18- */
    color: $color-text-base;
    font-size: 1.1em;
  }

  ::-moz-placeholder {          /* Firefox 19+ */
    color: $color-text-base;
    font-size: 1.1em;
  }

  :-ms-input-placeholder {      /* Internet Explorer */
    color: $color-text-base;
    font-size: 1.1em;
  }
}
