<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <img src="/assets/images/minilogo.png" width=40 />
        Lemonade
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        <li>
          {{#link-to 'home' }}
            <i class="fa fa-home"></i>
            Home
          {{/link-to}}
        </li>
        <li class={{workflowEdit}}>
          {{#link-to 'workflow.edit' workflow.id}}
            <i class="fa fa-arrow-right"></i>
            <span> {{currentAction}} Workflow </span>
          {{/link-to}}
        </li>
        <li>
          {{#if workflow.id}}
            {{#link-to 'workflow.draw' workflow.id}}
              <i class="fa fa-th"></i>
              <span> Go to Diagram </span>
            {{/link-to}}
          {{/if}}
        </li>
        <li>
          {{#link-to 'home.workflows' }}
            <i class="fa fa-flask"></i>
            Workflows
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'home.jobs' }}
            <i class="fa fa-tasks"></i>
            Jobs
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'home.datasources' }}
            <i class="fa fa-database"></i>
            Datasources
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'home.configurations' }}
            <i class="fa fa-cog"></i>
            Configurations
          {{/link-to}}
        </li>
      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
