<button {{action "onDestroy"}} type="button" class="close" data-dismiss="alert" aria-label="Close">
  <small><span class="fa fa-trash-o"></span></small>
</button>
<strong><span class="fa {{operation.icon}}"></span> {{operation.name}}</strong>
<span>{{comment}}</span>
