<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <img src="/assets/images/minilogo.png" width=40 />
        Lemonade
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        <li><p></p></li>
        <li style='background:#4bcf99;'>
          {{#link-to 'home' }}
          <i class="fa fa-home" style="color: white;"></i>
          <span style="color: white;">Home</span>
          {{/link-to}}
        </li>
        {{operations-list operations=operations}}
      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
