<div class="lemonade-container" id="lemonade-container">
  {{workflow.workflow-diagram id="lemonade-diagram" class="lemonade col-xs-12" task=task workflow=workflow forms=forms filledForms=filledForms hasChanged=hasChanged}}
</div>
{{workflow.workflow-forms id="forms" class="sidebar sidebar-container" task=task workflow=workflow forms=forms filledForms=filledForms hasChanged=hasChanged}}
