<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="workflow-sidebar">
        <li><p></p></li>
        {{operations-list operations=operations}}
      </ul>
    </nav>
  </div>
  <a href="#" id="open-menu" class="fa fa-angle-left open-menu"></a>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
