svg.sentiment-analysis-chart {
  .background {
    fill: #eee;
  }

  line {
    stroke: #fff;
  }

  text.active {
    fill: red;
  }

  .legend.title {
    font-size: 1em;
  }
}

.gViz-wrapper.sentiment-analysis-chart {
  overflow: auto;
}

.wrap-test {
  //margin: 2em;

}
.gViz-wrapper.table-chart {

  .row {
    margin: 0 !important;
  }

  .cell {
    line-height: 3em;

    // Text Ellipsis
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.name {
      cursor: pointer;
    }

    &.title {
      background-color: white;
      cursor: pointer;
      min-height: 2em;
      line-height: 2em;
    }

    .progress {
      transform: translate(0, 60%);
      height: 1.3em;
      background-color: #ddd;
    }

    .progress-bar {
      height: 1.3em !important;
    }
  }

  .alternate-colours{

    &:nth-child(odd) {
      background-color: #f5f5f5;
    }

    &:nth-child(even) {
      background-color: white;
    }

  }

  &:last-child {
    margin-bottom: 1.5em;
  }
}
