<div class="card sameheight-item stats" >
  <div class="card-block">
    <div class="title-block">
      <h4 class="title">{{algorithm}}</h4>
      <p class="title-description"> {{description}}</p>
    </div>
    <img src={{image}} width=100% />
  </div>
</div>
