<div class='vis-list-view'>
  {{#each visualizations as |vis|}}
    <div class='vis-list-item'>
      <div class='initials'>{{vis.initials}}</div>
      <div class='text'><i class='fa {{vis.icon}}'></i>{{vis.title}}</div>
    </div>
  {{/each}}
</div>
