<div class="canvas-wrapper">
  <div class="controls">
    <span class='btn btn-dark btn-md' id='zoom-in' title='Click to zoom in.'><i class='fa fa-search-plus'></i></span>
    <span class='btn btn-dark btn-md' id='zoom-out' title='Click to zoom out.'><i class='fa fa-search-minus'></i></span>
    <span class='btn btn-dark btn-md' id='zoom-reset'  title='Click to reset zoom to initial state.'>RESET Zoom</span>
    <div class="btn-group pull-right action-switch" role="group" aria-label="">
      <span class='btn btn-dark btn-md active' id='drag' title='Click to select drag mode.'><i class='fa fa-hand-pointer-o'></i></span>
      <span class='btn btn-dark btn-md' id='zoom' title='Click to select zoom mode.'><i class='fa fa-search'></i></span>
      <span class='btn btn-dark btn-md' id='pan' title='Click to select pan mode.'><i  class='fa fa-arrows'></i></span>
    </div>
    <span class='btn btn-dark btn-md' id='highlight-reset' title='Click to reset highlight mode to initial state.'>RESET Highlight</span>
  </div>
  <div class='gViz-wrapper' data-id={{_id}} style={{style}} data-canvas='graph-canvas' data-action='drag'></div>
</div>
