{{#link-to vis.link}}
  <div class="row card-wrap">
    <div class="vis-card">
      <i class="{{vis.image}}"></i>
    </div>
    <div class="vis-name">
      <i class="fa {{vis.icon}} fa-lg"></i>
      {{vis.name}}
    </div>
  </div>
{{/link-to}}
