{{#link-to link}}
  <div class="row card-wrap">
    <div class="vis-card">
      <i class="{{image}}"></i>
    </div>
    <div class="vis-name">
      <i class="fa {{icon}} fa-lg"></i>
      {{name}}
    </div>
  </div>
{{/link-to}}
