.__user__edit {
  .title-block {
    margin-top: 15px;
  }
  .form-block {
    border: 1px solid rgba(0,0,0,.125);
    margin: 10px 5px 0 5px;
    padding-top: 15px;
  }
  .form-group {
    label {
      text-align: right!important;
      font-weight: 600;
    }

    input {
      width: 100%;
      padding: .5rem .75rem;
      font-size: 1rem;
      color: #55595c;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      vertical-align: middle;
      border-right: none;

      &.password {
        width: calc(100% - 50px);
        border-radius: .25rem 0 0 .25rem;
      }
    }

    .toggle-password {
      vertical-align: middle;
      border-radius: 0 .25rem .25rem 0;
      border: 1px solid rgba(0,0,0,.15);
      color: rgba(0,0,0,.5);
      line-height: 24px;
    }

    select {
      background: #fff;
      padding: .375rem 1.75rem .375rem .75rem;
      color: #55595c;
      vertical-align: middle;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      width: 100%;
      -moz-appearance: none;
    }
  }

  .buttons {

    .btn {
      margin-right: 5px;
    }

    .confirm {
      background-color: $color-base;
      border-color: $color-base;
      color: $color-text-lighter;

      &:hover {
        background-color: $color-dark;
        border-color: $color-dark;
      }
    }

    .btn-info {
      background-color: $color-dark;
      border-color: $color-dark;

      &:hover {
        background-color: $color-darker;
        border-color: $color-darker;
      }
    }
  }

  .has-error {
    input {
      border-color: $color-error;
    }
    .btn {
      border-color: $color-error;
      border-left-color: rgba(0,0,0,.15);
    }
    span {
      color: $color-error;
    }
  }
  &.profile-modal {
    .modal-title {
      font-weight: 600;
    }
    .modal-body {
      padding: 25px 15px;
    }
    .btn-secondary {
      background-color: $color-base;
      border-color: $color-base;
      color: $color-text-lighter;

      &:hover {
        background-color: $color-dark;
        border-color: $color-dark;
      }
    }

  }
}
