.add-attr {
  color: $color-text-lighter !important;
  background-color: $color-light !important;
  border-color: $color-light !important;
  &:hover {
    background-color: $color-base !important;
    border-color: $color-base !important;
  }

  i {
    color: $color-text-lighter;
  }
}
.attributes-table {
  .center {
    text-align: center;
  }
  .remove-attr {
    width: 17px;
    a {
      color: $color-error;
      opacity: 0.8;
    }

    a:hover {
      cursor: pointer;
      color: $color-error;
      opacity: 1.0;

    }
  }

  td {
    vertical-align: middle;
    &.num input{
      max-width: 2.5rem;
      padding: 0.5rem 0.2rem;
      width: 100%;
      font-size: 1rem;
      line-height: 1.25;
      color: $color-text-dark;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      &:disabled {
        background: rgba($color-lighter, 0.25);
        border: 1px solid rgba($color-lighter, 0.15);
      }
    }

    &.checkbox {
      width: 60px;
      height: 60px;
      padding: 12px;
      text-align: center;
      display: table-cell;
      .input-checkbox {
        display: none;
      }
      .label-checkbox {
        width: 20px;
        height: 20px;
        margin-bottom: 0px;
      }
      .input-checkbox + span:before {
        font-family: FontAwesome;
        font-size: 1.4em;
        color: $color-lighter;
      }
      .input-checkbox:checked + span:before {
        color: $color-dark;
      }
      .input-checkbox {
        &:checked {
          + span:before {
            content: "\f14a";
          }
        }
        + span:before {
          content: "\f0c8";
        }
      }
    }
  }
}
