.datasource-share-table {
  background: $color-text-lighter;
  padding: 5px 4vw;

  .custom-select {
    height: 2em;
  }

  .table-fixed thead {
    width: 97%;
  };

  .table-fixed tbody {
    font-size: 0.9rem;
  };

  .table-fixed tbody.filtered-users {
    max-height: 230px !important;
    overflow-y: auto;
    width: 100%;
  };

  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
    vertical-align: middle !important;
  };

  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  };
};
