<div class="bgimg">
  <div id="free-promo" style="text-align: center;">
    <div class="container">
      <div class="row text-center" style="padding-top:14%;">
        <div class="error-page">
          <h2><a class="titulo">Welcome to Lemonade!</a></h2>
          {{#link-to 'login'}}<a  class="btn-lndg-pg btn-common btn-lg">Login</a>{{/link-to}}
          {{#link-to 'signup'}}<a  class="btn-lndg-pg btn-common btn-lg">Sign Up</a>{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
