& {
  .modal-dialog {
    width: 80vw;
    .modal-body {
      .alert {
        border-radius: 3px;
      }
      .form-group {
        &.select-datasource{
          border-bottom: #ced4da 1px solid;
          padding-bottom: 10px;
        }
        .title{
          font-weight: bold;
        }
        .select-datasource-label {
          text-align: center;
          text-transform: uppercase;
        }
        &.inline {
          .title{
            display: inline-block;
            margin-right: 15px;
            width: 120px;
          }
          .form-field{
            display: inline-block;
            width: calc(100% -  135px);
            input {
              width: 100%;
            }
            textarea {
              width: 100%;
            }
            .command {
              vertical-align: top;
            }

          }
        }
      }
      .btn-secondary.check {
        height: 20px;
        width: 20px;
        margin: 0 5px 0 0;
        padding: 0;
        background: white;
        border-color: $color-darker;
        color: $color-darker;
        position: relative;
  
        i {
          top: -2px;
          position: relative;
          display: none;
        }
        &.true {
          i {
            display: block;
          }
        }
      }
    }
    
    .modal-footer {
      .upload-more {
        background: $color-darker;
        border: $color-darker;
      }
    }
  }
}
