{{workflow.workflow-sidebar operations=model.operations workflow=model.workflow}}
<div class="content">
  <div class="row">
    {{workflow-draw workflow=model.workflow operations=model.operations}}
  </div>
</div>
{{outlet}}




