{{workflow.workflow-sidebar operations=model.operations workflow=model.workflow}}
<div class="content">
  <div class="row">
    {{workflow-diagram id="diagram" workflow=model.workflow}}
  </div>
</div>
{{outlet}}




