{{main-sidebar workflowActive='active'}}
<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title"> Creating new workflow:
      <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>
  <form name="item" id="edit-workflow" {{action 'create' on='submit'}}>
    {{workflow.workflow-form workflow=model buttonText='Create' }}
  </form>
</article>
