.select-attr-function {
  .select2-selection {
    height: 100%;
  }
  .select2-selection__rendered {
    color: #55595c !important;
  }
  .select2-selection__arrow {
    top: 6px !important;
  }
  .select2-selection {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
  }
}
