#operations-sidebar-wrapper {
  z-index: 500;
  width: $size-operations-sidebar;
  height: 100%;
  float: left;
  background: $color-darker;
  overflow-y: overlay;

  .operations-list {
    display: none;
  }

  #open-operations-list {
    border: 0px;
    margin: 0 0 0 0;
    padding: 0 10px 0 10px;
    float: right;
    height: 100%;
    width: $size-operations-sidebar;
    background: $color-darker;

    i {
      position: relative;
      float: left;
      top: 50%;
      font-size: 1.5em;
      color: $color-text-lighter;
      @extend .fa-gears;
    }

    &:hover {
      background: $color-lighter;
      padding: 0 4.8px 0 4.8px;

      i {
        font-size: 2em;
      }
    }
  }
}

#page-content-wrapper.toggled #operations-sidebar-wrapper {

  width: $size-operations-sidebar-toggled;

  .operations-list {
    display: inline-block;

    ul {

      &#categories-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: ($main-sidebar - $app-header) 0 0 0;
        list-style: none;
        padding: 0 0 0 0;
        font-size: 1.1em;
        width: $size-operations-sidebar-toggled - 24px;

        li {

          a {
            color: $color-text-lighter;
            vertical-align: middle;

            i {
              height: 21px;
              width: 21px;
              vertical-align: middle;
              font-size: 1.2em;
            }
          }
        }

        &#categories-list li:last-child {
          margin-bottom: 5px;
        }

        &#categories-list li + li {
          margin-top: 5px;
        }

        &#categories-list > li {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 0%;
          flex: 1 1 0%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          position: relative;
        }

        a {
          position: relative;
          display: block;
          padding: 7px 0 7px 20px;
          outline-width: 0;
          transition: all .3s ease-out;
        }

        &#categories-list ul a {
          padding: 10px 15px 10px 30px;
        }

        &#categories-list ul ul a {
          padding: 10px 15px 10px 45px;
        }

        &#categories-list a:hover,
        &#categories-list a:focus,
        &#categories-list a:active {
          color: $color-text-dark;
          text-decoration: none;
          background: $color-lighter;
        }

        &#categories-list li ul {
          padding: 0px;

          li {

            &:nth-child(odd) {
              background-color: rgba($color-lighter, 0.02);
            }

            &:nth-child(even) {
            }
          }
        }
      }
    }
  }

  #open-operations-list {
    border: 0px;
    margin: 0 0 0 0;
    padding: 0 8px 0 4px;
    height: 100%;
    width: 24px;
    background: $color-light;

    i {
      position: relative;
      float: left;
      top: 50%;
      font-size: 2em;
      color: $color-darker;
      @extend .fa-angle-left;
    }

    &:hover {
      background: $color-lighter;
      padding: 0 4.8px 0 4.8px;

      i {
        font-size: 2.5em;
      }
    }
  }
}
