.workflow-option-bar {
  height: 60px;
  padding: 5px 0;

  .name-editor {
    margin: 6px 0;

    .form-control.underlined {
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 1px solid $color-text-light;
      padding: 0.7em 0.2em 0.3em 0.2em;

    }

    .form-control.underlined:focus {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $color-lighter;
    }
  }

  .buttons {
    margin: 4px 0;

    .btn {
      background: none;
      border: none;
      color: $color-darker;
      margin: 5px;

      &:hover {
        background: $color-lighter;
        color: $color-text-lighter;
      }
    }
  }

  .play {
    background: $color-play;
    margin: 5px;
    color: $color-text-lighter !important;

    &:hover {
      background: $color-play-light;

    }
  }
}

