<div class="card" id='release-notes'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">Latest edited workflow</h3>
    </div>
  </div>
  <div class="card-block" id="large-table-workflows">
    <table class="table table-hover" style="table-layout: fixed; word-wrap: break-word;">
      <thead>
        <tr class="table-header">
          <th class="logo">ID</th>
          <th class="name" style="width:100%;">Name</th>
          <th class="options">Options</th>
          <th class="date">Last changed</th>
        </tr>
      </thead>
      <tbody>
        {{#each slicedModel as |workflow|}}
          {{#unless workflow.isDeleted}}
            {{cards/item-list-workflow workflow=workflow}}
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
    {{outlet}}
  </div>
</div>
