<div class="card" id='release-notes'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">Latest workflow edited</h3>
    </div>
  </div>
  <div class="card-block">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Options</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        {{#each slicedModel as |workflow|}}
          {{cards/item-list-workflow workflow=workflow}}
        {{/each}}
      </tbody>
    </table>
    {{outlet}}
  </div>
</div>
