<div class="card" id='release-notes'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">Release Notes - Lemonade {{releaseNotes.version}}</h3>
    </div>
  </div>
  <div class="card-block">
    <p>{{releaseNotes.message}}</p>
    <div id="date">
    <span> Released at {{releaseNotes.date}} </span>
    </div>
  </div>
</div>

