<div class="card" id='video-tutorial'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">{{videoTutorial.title}}</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="videoWrapper">
      {{ember-youtube ytid=videoTutorial.youtubeID}}
    </div>
  </div>
</div>
