<div class="card" id='release-notes'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">{{card.title}}</h3>
    </div>
  </div>
  <div class="card-block">
    <p>{{card.content}}</p>
    <div id="date">
      <span> Released at {{format-date card.created_at}} </span>
    </div>
  </div>
</div>

