<div class="card" id='release-notes'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">{{t 'cards.releaseNotes.title'}} {{releaseNotes.version}}</h3>
    </div>
  </div>
  <div class="card-block">
    <p>{{releaseNotes.content}}</p>
    <div id="date">
    <span> Released at {{releaseNotes.created_at}} </span>
    </div>
  </div>
</div>

