<div class="card" id='release-notes'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">Latest updated jobs</h3>
    </div>
  </div>
  <div class="card-block">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Workflow</th>
          <th>Status</th>
          <th>Visualize</th>
        </tr>
      </thead>
      <tbody>
        {{#each slicedModel as |job|}}
          {{cards/item-list-jobs job=job}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
