<div class="card" id='video-tutorial'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">{{card.title}}</h3>
    </div>
  </div>
  <div class="card-block">
    <p>{{card.content}}</p>
    <div class="videoWrapper">
      {{ember-youtube ytid=card.link}}
    </div>
  </div>
</div>
