<td>{{#link-to 'job.show' job.id}}{{job.id}}{{/link-to}}</td>
<td>{{#link-to 'job.show' job.id}}{{job.workflow.name}}{{/link-to}}</td>
<td class="status">
  {{#link-to 'job.show' job.id class="job" class=job.status}}
    <span class="status-icon"></span><h4>{{job.status}}</h4>
  {{/link-to}}
</td>
<td id='result-btn'>
  {{#link-to 'job.show' job.id class="results btn btn-primary btn-md flash-button"}}
    <i class="fa fa-eye fa-lg"i></i>
    {{/link-to}}
</td>
