.__home__index {
  #page-content-wrapper {
    width: 100%;
    height: -webkit-calc(100vh - 40px);
    height: -moz-calc(100vh - 40px);
    height: calc(100vh - 40px);
    z-index: 300;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
  }
}
