.__dashboards__show {
  .gViz-dashboard-canvas {
    padding: 30px 0;
  }
  .vcentered {
    display: flex;
    padding-top: 15px 10px;
    input {
      margin: 0 5px;
    }
    .actions-custom {
      .btn.btn-primary.btn-md {
        background-color: $color-base;
        border-color: $color-base;
        &:hover {
          background-color: $color-light;
          border-color: $color-light;
        }
      }
    }
  }
  .grid-stack-wrapper {
    margin-top: 15px;
  }
}

