.job-option-bar {
  padding: 5px 0;

  .job-name {
    padding-top: 0.8em;
    padding-bottom: 0.4em;
  }

  .status {
    margin: 6px 0;

    .text {
      margin: 5px;
      font-size: 1.5em;
    }

    &.canceled {
      color: $color-canceled;
      .status-icon {
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-times;
      }
    }

    &.completed {
      color: $color-completed;
      .status-icon {
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-check;
      }
    }

    &.error {
      color: $color-error;
      .status-icon {
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-exclamation-triangle;
      }
    }

    &.interrupted {
      color: $color-interrupted;
      .status-icon {
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-exclamation;
      }
    }

    &.pending {
      color: $color-pending;
      .status-icon {
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-hourglass-half;
      }
    }

    &.running {
      color: $color-running;
      .status-icon {
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-circle-o-notch;
        @extend .fa-spin;
      }
    }

    &.waiting {
      color: $color-waiting;
      .status-icon {
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-clock-o;
      }
    }
  }

  .buttons {
    .btn {
      background: none;
      border: none;
      color: $color-darker;
      padding: 8px 8px;
      // margin: 0px 5px;

      &:hover {
        background: $color-lighter;
        color: $color-text-lighter;
      }
    }

    span {
      margin: 0 0 0 5px;
      font-size: 1.1em;
      display: none;
    }

    .workflow {
      background: $color-dark;
      color: $color-text-lighter;
    }

    .results {
      background: $color-base;
      color: $color-text-lighter;
    }

    .log {
      background: $color-dark;
      color: $color-text-lighter;
    }

    .stop {
      background: $color-stop;
      color: $color-text-lighter;

      &:hover {
        background: $color-stop-light;
      }
    }
  }

}

@media (min-width: 600px){
  .job-option-bar {
    .buttons {
      span {
        display: inline;
      }
    }

  }
}
