{{home-sidebar visualizationsActive='active'}}
<article class="content items-list-page">
  {{visualizations.button-bar
    icon="fa-list"
    title="Correlation Matrix"
    subtitle="Correlation metrics comments authors x law articles"
  }}

  <div class='row'>
    <div class='col-md-8'>

      {{!-- Time chart --}}
      {{visualizations/correlation-matrix
        model=model
        width="100%"
        height="500px"
        _id="trending"
        title="Example correlation matrix"
      }}

    </div>
  </div>
</article>

{{outlet}}
