{{main-sidebar visualizationsActive='active'}}

<article class="content items-list-page">
  {{visualizations.button-bar
    icon="fa-pie-chart"
    title="Pie Chart"
    subtitle="Example Pie Chart"
  }}

  <div class='row'>
    <div class='col-xs-12 col-md-12'>

      {{!-- Pie Chart --}}
      {{visualizations/pie-chart
        model=model
        width="100%"
        height="500px"
        _id="pie-chart"
        title="Example Pie Chart"
      }}

    </div>
  </div>
</article>
