{{main-sidebar visualizationsActive='active'}}
<article class="content items-list-page">
  {{visualizations.button-bar
    icon="fa-search"
    title="Search Tool"
    subtitle="Search tool based on Calaca."
  }}

  <div class='row'>
    <div class='col-xs-12 col-md-12'>

      {{!-- Time chart --}}
      {{visualizations/search-tool
        model=model
        width="100%"
        height=0
        _id="search-tool"
        title="Example of search tool based on Calaca."
        dataUrl="http://localhost:4200/assets/data/search.json"
        sortBy="author_name"
        search=""
      }}

    </div>
  </div>
</article>

{{outlet}}
