{{main-sidebar visualizationsActive='active'}}
<article class="content items-list-page">
  {{visualizations.button-bar
    icon="fa-bar-chart"
    title="Topics"
    subtitle="Topics visualization using table and svg."
  }}

  <div class='row'>
    <div class='col-xs-12 col-md-12'>

      {{!-- Time chart --}}
      {{visualizations/topicos-vis
        model=model
        width="100%"
        height="500px"
        _id="topics-vis"
        title="Example of topics visualization."
        dataUrl="http://localhost:4200/assets/data/topicos.json"
      }}

    </div>
  </div>
</article>

{{outlet}}
