{{main-sidebar visualizationsActive='active'}}
<article class="content items-list-page">
  {{visualizations.button-bar
    icon="fa-tree"
    title="WordTree Diagram"
    subtitle="WordTree diagram visualization."
  }}

  <div class='row'>
    <div class='col-xs-12 col-md-12'>

      {{!-- Time chart --}}
      {{visualizations/wordtree-diagram
        model=model
        width="100%"
        height="530px"
        _id="wordtree-diagram"
        title="Example of wordtree diagram visualization."
        dataUrl="http://localhost:4200/assets/data/wordtree-compact.json"
      }}

    </div>
  </div>
</article>

{{outlet}}
