// White
$full-white:  #FFF;
$very-light-white: #F9F9F9;
$light-white: #F5F5F5;
$middle-white: #eee;
$dark-white: #ddd;
$full-dark-white: #ccc;

// Gray
$full-gray: #111;
$dark-gray: #434343;
$icon-gray: #676a6c;
$middle-gray: #999;
$light-gray: #bbb;

// Green
$vivid-green: #1ab394;
$theme-green: #70b327;
$theme-green-hover: #78bd2e;
$arrow-green: #65C9B2;

// Blue
// Left menu colors
$light-blue: #2F4050;
$dark-blue:  #293846;

// Borders Colors
$border-light-gray: #e7eaec;

// Bootstrap colors
$danger-bg: #ec4758;
$danger-border: #ec4758;
$info-bg: #21b9bb;
$info-border: #21b9bb;
$warning-bg: #f7a54a;
$warning-border: #f7a54a;
$primary-bg: #18a689;
$primary-border: #18a689;
$success-bg: #1a7bb9;
$success-border: #1a7bb9;

// Template colors
$red0: #f0d4d3;
$red1: #f2c1c1;
$red2: #f6a2a1;
$red3: #f98a88;
$red4: #fd716f;

$blue0: #d0e8f4;
$blue1: #aad3e9;
$blue2: #173859;
$blue3: #173859;
$blue4: #7291AD;
$blueChartBg: #061324;

// Heat colors
$heat0: #5fcdc2;
$heat1: #a98f78;
$heat2: #cd6359;
$heat3: #e02d55;
