.__job__show {
  margin: auto;
  width: 100%;
  min-width: 300px;
  height: 100%;
  overflow-y: overlay;
  overflow-x: overlay;
  display: flex;
  flex-flow: column;

  .option-bar {
    padding: 5px 0;
    flex: 0 1 auto;
    display: table-row;

    .__name {
      padding: 5px 15px;

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .__status {
      padding: 10px 15px;

      .__text {
        margin: 5px;
        font-size: 1.9em;
        cursor: pointer;
      }

      .__icon {
        cursor: pointer;
        @extend .fa-2x;
      }
    }

    .__buttons {
      padding: 5px 15px;
      .btn-primary {
        background: $color-dark;
        color: $color-text-lighter;
        border-color: $color-dark;
        margin-right: 5px;

        &:hover {
          background: $color-light;
          border-color: $color-light;
          color: $color-text-dark;
        }

        span {
          margin-left: 4px;
        }
        &.__stop {
          background: $color-stop;
          border-color: $color-stop;

          &:hover {
            background: $color-stop-light;
            color: $color-text-lighter;
          }
        }
        &.error {

          background-color: $color-error;
          border-color: $color-error;

          &.flash {
            animation-name: flash;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            //Firefox 1+
            -webkit-animation-name: flash;
            -webkit-animation-duration: 2s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            //Safari 3-4
            -moz-animation-name: flash;
            -moz-animation-duration: 2s;
            -moz-animation-timing-function: linear;
            -moz-animation-iteration-count: infinite;
          }

          @keyframes flash {
            0% { opacity: 1.0; }
            50% { opacity: 0.5; }
            100% { opacity: 1.0; }
          }

          //Firefox 1+
          @-webkit-keyframes flash {
            0% { opacity: 1.0; }
            50% { opacity: 0.5; }
            100% { opacity: 1.0; }
          }

          //Safari 3-4
          @-moz-keyframes flash {
            0% { opacity: 1.0; }
            50% { opacity: 0.5; }
            100% { opacity: 1.0; }

          }
        }
      }
    }
  }
  .__toggle-log {
    background: $color-darker;
    color: $color-text-lighter;
    border-color: $color-darker;
    border-radius: 0;
    outline: none;
    padding: 7px;

    &:hover {
      background: $color-base;
      border-color: $color-base;
    }
    .arrow {
      @extend .fa;
      @extend .fa-lg;
      @extend .fa-angle-left;
    }

  }
  &.toggled {
    .__toggle-log {
      .arrow {
        @extend .fa-angle-right;
      }
    }
  }
  .draw-wrapper {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    margin-right: -15px;

    .draw-container {
      height: 100%;
      position: relative;
      width: 100%;
      overflow: auto;
    }
  }
}

.__job__show.toggled #job-logger {
  display: flex;
}
