<div id="page-content-wrapper" class="container-fluid page content wrapper">
  <div class="top-menu container-fluid">
    <div class="row">
      <div class="col-xs-9 title-block">
        <h3 class="title"> <i class="fa fa-database"></i> {{t 'datasource.new.title'}}
        </h3>
        <p class="title-description">{{t 'datasource.new.description'}}</p>
      </div>
    </div>
  </div>
  {{datasources/file-upload}}
</div>
