& {
  .modal-dialog {
    width: 85%;
    max-width: 1200px;
    min-height: 400px;
  }
  .modal-content {
    min-height: 400px;
    height: calc(100vh - 60px);
  }
  .modal-header {
    height: 70px;
    i {
      margin-right: 5px;
    }
    .__status {
      display: inline-block;
      margin-left: 50px;
      font-size: 1.5rem;
      i {
        position: relative;
        top: -5px;
      }
    }
  }
  .modal-body {
    height: calc(100% - 70px);
    #tabs {
      height: 100%;
      width: 100%;
    }
    .tab-content {
      padding-top: 8px;
      height: calc(100% - 50px);

      .tab-pane {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    #export-image {
      position: fixed;
      height: 100vh;
      width: 100vw;
      left: -9.8%;
      top: -4.1%;
      z-index: 20;
      background-color: rgba(black, 0.9);
      justify-content: center;
      align-items: center;
      display: none;

      &.active {
        display: flex;
      }

      .buttons {
         position: absolute;
         left: 50%;
         transform: translate(-50%);
         top: 16px;

        .close-button {
          cursor: pointer;
          margin-left: 16px;
        }

        .save-button {
          cursor: pointer;
        }
      }

    }

    .export-button {
      position: absolute;
      right: 0px;
      top: -50px;
      color: #aaaaaa;
      font-size: 24px;
      cursor: pointer;
    }
  }

  #logs {
    tbody {
      tr:hover {
        @extend .__status;
        cursor: default;
      }
    }
  }

  #tables {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 3px;
    .card {

      .card-header {
        h5 a {
          color: $color-text-dark;
        }
      }
      .table-wrapper {
        min-height: 300px;
        overflow: scroll;
      }
    }
  }

  #params {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 3px;
    td {
      vertical-align: middle;
    }
    .values {
      text-align: center;
      word-break: break-word;
      white-space: normal;
      input {
        margin-left: 0px;
      }
    }

  }
}

