<div class="row execute-bar">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 execute-bar execute-btn">
    {{option-bar.exec-btn class='play' icon='play'}}
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 execute-bar execute-btn">
    {{option-bar.exec-btn class='pause' icon='pause'}}
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 execute-bar execute-btn">
    {{option-bar.exec-btn class='stop' icon='stop'}}
  </div>
</div>
