<div class="row execute-bar">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 execute-bar execute-btn">
    <a onclick={{action 'play'}} class="play btn btn-md rounded-s execute-bar execute-btn">
      <i class="fa fa-play"></i>
    </a>

  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 execute-bar execute-btn">
    <a onclick={{action 'pause'}} class="pause btn btn-md rounded-s execute-bar execute-btn">
      <i class="fa fa-pause"></i>
    </a>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 execute-bar execute-btn">
    <a onclick={{action 'stop'}} class="stop btn btn-md rounded-s execute-bar execute-btn">
      <i class="fa fa-stop"></i>
    </a>
  </div>
</div>
