& {
  .open-editor {
    width: 100%;
    background: $color-darker;
    border-color: $color-darker;
    &:hover {
      background: $color-light;
      border-color: $color-light;
    }
  }
  &.expression-modal {

    .modal-dialog {
      width: 60vw;
      max-width: 60vw;
      .modal-content {
        max-height: 80vh;
        min-height: 550px;
        .modal-header {
          height: 60px;
          h4 {
            margin-bottom: 5px;
          }
        }
        .modal-body {
          .nav-tabs {
            .nav-item .nav-link {
              color: $color-darker;
              &.active {
                color: $color-base;
              }
            }
          }
          .tab-pane {
            padding-top: 5px;
          }
          .table-wrapper {
            overflow-y: auto;
            overflow-x: hidden;
            min-height: 200px;
            height: 35vh;
            max-height: 450px;
          }
          .form-control {
            margin-top: 7px;
          }
          #resultExpression {
            margin-top: 5px;
            border-radius: 3px;
            padding: 0 10px;
            overflow-y: auto;
            height: 90px;

          }
        }
        .modal-footer {
          padding: 12px 14px;
          height: 60px;
          button.btn-success {
            background-color: $color-base;
            border-color: $color-base;
            &:hover {
              background: $color-light;
              border-color: $color-light;
            }
          }
        }
      }
    }
  }
}
