& {
  .select2-selection {
    height: 37px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    padding-top: 2px;
  }
  .select2-selection__rendered {
    line-height: 1.8 !important;
    color: white !important;
  }
  .select2-container .select2-selection--single{
    height: calc(2.5rem - 2px) !important;
  }
  .select2-selection__choice {
    color: $color-darker;
    background: #eee !important;
    border-radius: 3px !important;
    font-size: 1.2em;
    margin-top: 2px;
  }
  .select2-selection__arrow {
    top: 1px !important;
    clip-path: circle(7px at center);
  }
}
