<div class="main-wrapper">
  <div class="app sidebar-fixed header-fixed footer-fixed" id="app">
    {{lemonade-header}}
    {{lemonade-sidebar algorithms=content}}
    <div class="content">
      <div class="row">
        <div class="col-lg-12">
          {{lemonade-diagram}}
        </div>
      </div>
    </div>
    {{lemonade-footer}}
  </div>
</div>
