<div id="page-content-wrapper" class="container-fluid page content wrapper">
  {{dashboards/top-menu class="top-menu container-fluid"}}
  {{dashboards/large-table model=model id="large-table-dashboards" class="container-fluid"}}
</div>
