<div id="page-content-wrapper" class="container-fluid page content wrapper">
  {{datasources/top-menu class="top-menu container-fluid" filterText=filterText}}
  {{datasources/large-table datasources=datasources id="large-table-datasources" class="container-fluid"}}
</div>
