<div id="page-content-wrapper" class="container-fluid page content wrapper">
  <article class="content dashboard-page">
    <section class="section">
      <div class="row sameheight-container">
        {{cards-list workflows=model.workflows jobs=model.jobs
          releaseNotes=model.releaseNotes}}
      </div>
    </section>
  </article>
</div>
