<div id="main-wrapper" class="main wrapper">
  {{main-sidebar id="main-sidebar-wrapper" class="main sidebar wrapper" activeJobs="active"}}
  <div id="main-content-wrapper" class="main content wrapper">
    {{app-header tagName="header" class="header"}}
    <div id="page-content-wrapper" class="page content wrapper">
      {{outlet}}
    </div><!-- page-content-wrapper -->
  </div><!--main-content-wrapper-->
</div><!--main-wrapper-->
