<div class="auth">
	<div class="auth-container">
		<div class="card">
			<header class="auth-header">
				<h1 class="auth-title">
					<div class="logo">
						<span class="l l1"></span>
						<span class="l l2"></span>
						<span class="l l3"></span>
						<span class="l l4"></span>
						<span class="l l5"></span>
					</div>        ModularAdmin
				</h1>
			</header>
			<div class="auth-content">
				<p class="text-xs-center">LOGIN TO CONTINUE</p>
        {{login-form}}
			</div>
		</div>
	</div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
	<div class="color-primary"></div>
	<div class="chart">
		<div class="color-primary"></div>
		<div class="color-secondary"></div>
	</div>
</div>





