<div class="not-found making-lemonade">
  <div class="message">
    <h1 class="title">Oops!</h1>
    <span class='block'>{{t 'notFound.servers'}}</span>
    <span class='block'>{{t 'notFound.moreLemonade'}}</span>
    {{#link-to 'landing-page' class="btn btn-primary"}}
      {{t 'notFound.goBack'}} {{t 'landing-page.self'}}
    {{/link-to}}
  </div>
</div>
