<div class="main-wrapper">
  <div class="app sidebar-fixed header-fixed footer-fixed" id="app">
    {{app-header}}
    {{outlet}}
    {{workflow-footer}}
  </div>
</div>

<!-- Tooltipster markup -->
<div class='tooltipster-visualization tooltipster-base tooltipster-sidetip tooltipster-top tooltipster-fade tooltipster-show'>
  <div class='tooltipster-box'>
    <div class='tooltipster-content'></div>
  </div>
  <div class='tooltipster-arrow'>
    <div class='tooltipster-arrow-uncropped'>
      <div class='tooltipster-arrow-border'></div>
      <div class='tooltipster-arrow-background'></div>
    </div>
  </div>
</div>

<!-- Loading markup -->
<div class="loading-div">
  <div class="loading-div-inner">
    <div class="loader">
      <i class='fa fa-spinner fa-pulse fa-3x'></i>
    </div>
  </div>
</div>
