<div id="page-content-wrapper" class="container-fluid page content wrapper">
  {{workflows/top-menu class="top-menu container-fluid"}}
  {{workflows/large-table id="large-table-workflows" class="container-fluid" workflows=model}}
  {{outlet}}
</div>
