<div id="main-wrapper" class="main wrapper">
    {{main-sidebar }}
  <div id="main-content-wrapper" class="main content wrapper">
    {{app-header}}
    {{outlet}}
      </div><!--main-content-wrapper-->
</div><!--main-wrapper-->

