<h1>Workflows</h1>

<br />
<br />
<h3>{{#link-to 'workflow.new'}}Criar Novo Workflow{{/link-to}}</h3>
<br />
<br />

{{#each model as |workflow|}}
  <h6>{{#link-to 'workflow.edit' workflow.id }}{{workflow.name}}{{/link-to}}</h6>
{{/each}}
