<div class="main-wrapper">
  <div class="app sidebar-fixed header-fixed footer-fixed" id="app">
    {{app-header draw="active"}}
    {{main-sidebar workflowsActive='active'}}
    {{outlet}}
    {{app-footer}}
  </div>
</div>
