{
        "modulePrefix": "citron",
        "environment": "production",
        "rootURL": "/",
        "locationType": "auto",
        "EmberENV": {
                "FEATURES": {},
                "EXTEND_PROTOTYPES": {
                        "Date": false
                }
        },
        "sentry": {
          dns: "https://41a865a4935e48a591714fdf12756e4e@sentry.io/236235"
        },
        "APP": {
                "name": "citron",
                "version": "0.0.0+"
        },
        "ember-simple-auth": {
                "authorizer": "authorizer:devise",
                "routeAfterAuthentication": "/home/workflows"
        },
        "thorn": "http://thorn",
        "stand": "http://stand",
        "tahiti": "http:/tahiti",
        "webSocketIO": {
                "url": "http://stand",
                "namespace": "/stand",
                "path": "/socket.io"
        },
        "exportApplicationGlobal": false
}
