.toggle-wrapper {
  float: left;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 12px;
}

/* Hide default HTML checkbox */
.toggle-switch input {display:none;}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #2196F3;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-slider:before {
  -webkit-transform:
  translateX(12px);
  -ms-transform:
  translateX(12px);
  transform:
  translateX(12px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

.toggle-left {
  float: left;
  margin-right: 10px;
  transform: translate(0, -3px);
}

.toggle-right {
  float: left;
  margin-left: 10px;
  transform: translate(0, -3px);
}
